@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local("Open Sans"), local("Open Sans"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2"); }

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: local("Open Sans"), local("Open Sans"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2"); }

body {
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-style: normal;
  line-height: 30px;
  color: black;
  background: white; }

.page__header,
.page__main,
.page__footer {
  width: 100%; }

.visually-hidden:checked,
.visually-hidden:not(checked),
.visually-hidden:not(:focus):not(:active) {
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  border: none;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%); }

.button {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  padding: 13px 0 15px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  border: 2px solid black;
  background: transparent; }
  .button:hover, .button:active {
    color: white;
    border: 2px solid #454545;
    background: #454545; }
  .button:active span {
    opacity: .3; }

.title {
  font-size: 25px;
  font-weight: bold;
  line-height: 29px; }

.border {
  position: relative; }
  .border::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 7px;
    background: url(../img/border.svg);
    background-size: auto 7px; }

.image {
  display: block;
  width: 100%;
  height: auto; }

@media (min-width: 768px) {
  body {
    font-size: 17px; }
  .title {
    font-size: 43px;
    line-height: 50px; }
  .button {
    font-size: 17px;
    line-height: 20px;
    padding: 14px 0; }
  .border::after {
    height: 16px;
    background-size: auto 16px; }
  .border-white {
    position: relative; }
    .border-white::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 12px;
      background: url(../img/border-white.svg) top center;
      background-size: auto 22.7px;
      z-index: 2; }
  .image {
    width: 100%;
    height: 100%; } }

@media (min-width: 1150px) {
  .title {
    font-size: 53px;
    line-height: 57px; }
  .border::after {
    margin: 0 auto;
    width: 1050px;
    height: 25px;
    background-position-x: center;
    background-size: auto 25px; }
  .border-white::after {
    height: 17px;
    background-size: auto 36.7px; } }

.page-header__slogan {
  padding: 0 9.3%;
  background: #f2f2f2; }

.page-header__title {
  margin: 0;
  padding: 70px 0 76px;
  display: block;
  text-align: center; }

.page-header__slogan--main {
  min-height: 282px;
  background: #fafafa url(../img/mishka_mobile.jpg) top -18px center no-repeat; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .page-header__slogan--main {
      background-image: url("../img/mishka_mobile-x2.jpg");
      background-size: auto 373px; } }

.page-header__title--main {
  padding: 70px 0 0; }

@media (max-width: 767px) {
  .page-header__title {
    font-size: 27px;
    font-weight: bold;
    line-height: 30px; } }

@media (min-width: 768px) {
  .page-header__slogan {
    margin-top: -59px;
    padding: 0;
    z-index: -1; }
  .page-header__slogan--main {
    min-height: 744px;
    background: #fafafa url(../img/mishka_tablet.jpg) top center no-repeat; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .page-header__slogan--main {
      background-image: url("../img/mishka_tablet-x2.jpg");
      background-size: auto 746px; } }

@media (min-width: 768px) {
  .page-header__title {
    margin: 0 auto;
    padding: 93px 0 81px;
    width: 87%; }
  .page-header__title--main {
    font-size: 43.5px;
    line-height: 51px;
    padding: 152px 0 50px; } }

@media (min-width: 1150px) {
  .page-header__title--main {
    font-size: 53px;
    line-height: 58px;
    padding: 152px 0 50px; }
  .page-header__title {
    padding: 94px 0 103px;
    width: 700px; } }

.main-nav__button-toggle {
  display: none; }

.main-nav__list {
  font-size: 17px;
  font-weight: bold;
  line-height: 21px;
  margin: 0;
  padding: 0;
  list-style: none; }

.main-nav__item {
  border-bottom: 1px solid #ededed; }

.main-nav__link {
  padding: 27px 30px 30px 23.5%;
  display: block;
  text-decoration: none;
  color: black;
  background-color: transparent; }
  .main-nav__link[href]:hover {
    color: rgba(0, 0, 0, 0.6); }
  .main-nav__link[href]:active {
    opacity: .3; }

@media (max-width: 767px) {
  .main-nav__item {
    display: none; }
  .main-nav__button-toggle {
    display: block;
    position: absolute;
    top: 1px;
    right: 0;
    width: 78px;
    height: 78px;
    cursor: pointer;
    border: none;
    background: white;
    z-index: 2; }
  .main-nav--closed .main-nav__button-toggle::before {
    content: "";
    position: absolute;
    top: 31px;
    right: 31px;
    width: 20px;
    height: 2px;
    background-color: black;
    box-shadow: 0 6px 0 0 black, 0 12px 0 0 black; }
  .main-nav--opened .main-nav__button-toggle::before,
  .main-nav--opened .main-nav__button-toggle::after {
    content: "";
    position: absolute;
    top: 37px;
    right: 27px;
    width: 27px;
    height: 2px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: black; }
  .main-nav--opened .main-nav__button-toggle::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .main-nav--opened .main-nav__item {
    display: block; }
  .main-nav--no-js .main-nav__item {
    display: block; }
  .main-nav--no-js .main-nav__button-toggle {
    display: none; }
  .main-nav__logo {
    display: block;
    border-top: 1px solid #ededed; } }

.main-nav__link--logo {
  padding: 21px 0 18px 0;
  text-align: center; }
  .main-nav__link--logo:hover {
    opacity: .6; }

.main-nav__link--search,
.main-nav__link--cart {
  position: relative; }

.main-nav__icon {
  position: absolute;
  top: 30px;
  left: 9.8%;
  opacity: .2; }

.main-nav__icon--search {
  -webkit-transform: translateY(1px);
          transform: translateY(1px); }

.main-nav__link--search:hover .main-nav__icon--search,
.main-nav__link--cart:hover .main-nav__icon--cart {
  opacity: 1;
  fill: #62d0ba; }

.main-nav__link--search:active .main-nav__icon--search,
.main-nav__link--cart:active .main-nav__icon--cart {
  opacity: 1;
  fill: #62d0ba; }

.main-nav-item--delivery,
.main-nav__new,
.main-nav__sell-out {
  display: none; }

@media (min-width: 768px) {
  .main-nav__list {
    font-size: 15px;
    line-height: 24px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: stretch; }
  .main-nav__link {
    padding: 17px 15px 17px 8.8%; }
  .main-nav__catalog {
    order: 4; }
  .main-nav__order {
    order: 5; }
  .main-nav__logo {
    min-width: 41%;
    flex-grow: 1; }
  .main-nav__link--logo {
    padding: 22px 0 14px 6.5vw;
    text-align: left; }
  .main-nav__link--logo img {
    width: 113px;
    height: 46px;
    -webkit-transform: translateX(-2px);
            transform: translateX(-2px); }
  .main-nav__link--search {
    padding: 32px 30px 26px 33px;
    font-size: 0;
    border-right: 1px solid #ededed;
    border-left: 1px solid #ededed; }
  .main-nav__icon--search,
  .main-nav__icon--cart {
    position: static;
    -webkit-transform: translateY(5px);
            transform: translateY(5px); }
  .main-nav__link--cart {
    padding: 30px 6.5vw 28px 39px;
    font-size: 17px;
    text-align: right; }
  .main-nav__icon--cart {
    margin-right: 20px;
    -webkit-transform: translate(-7px, 5px);
            transform: translate(-7px, 5px); }
  .main-nav__catalog,
  .main-nav__order {
    width: 26%;
    min-width: 198px;
    border: none; }
  .main-nav__link--catalog {
    padding-left: 6.5vw; }
  .main-nav__item--delivery {
    margin-left: auto;
    display: block;
    border: none;
    order: 7;
    flex-grow: 1; }
  .main-nav__link--delivery {
    padding: 17px 13.3%;
    font-weight: normal;
    text-align: right; } }

@media (min-width: 1150px) {
  .main-nav__list {
    margin: 0 auto;
    width: 1150px; }
  .main-nav__link {
    padding: 31px 0 33px 33px; }
  .main-nav__logo {
    margin-right: auto;
    min-width: 150px; }
  .main-nav__link--logo {
    box-sizing: border-box;
    height: 100%; }
    .main-nav__link--logo img {
      position: absolute;
      top: 8px;
      left: 50%;
      width: 148px;
      height: 73px;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
  .main-nav__catalog,
  .main-nav__order {
    width: auto;
    min-width: 234px;
    font-size: 17px;
    border-bottom: 1px solid #ededed;
    order: -2; }
  .main-nav__catalog {
    border-right: 1px solid #ededed; }
  .main-nav__order .main-nav__link {
    padding-left: 33px; }
  .main-nav__link--search {
    padding: 32px 32px 26px 31px; }
  .main-nav__cart {
    width: 316px; }
  .main-nav__link--cart {
    padding: 30px 50px 33px 33px; }
  .main-nav__new,
  .main-nav__sell-out {
    display: block;
    min-width: 234px;
    border: none; }
    .main-nav__new .main-nav__link,
    .main-nav__sell-out .main-nav__link {
      padding: 17px 0 17px 33px; }
  .main-nav__link--catalog,
  .main-nav__new .main-nav__link {
    padding-left: 50px; }
  .main-nav__item--delivery {
    flex-grow: 0; }
  .main-nav__link--delivery {
    padding: 17px 50px; } }

.page-main__appeal {
  font-size: 13px;
  line-height: 24px;
  margin: 22px auto 21px;
  padding: 0;
  width: 81.4%;
  color: black; }

@media (min-width: 768px) {
  .page-main__appeal {
    font-size: 17px;
    line-height: 30px;
    margin: 74px auto 19px;
    width: 87%;
    letter-spacing: 0; } }

@media (min-width: 1150px) {
  .page-main__appeal {
    margin-top: 122px;
    width: 700px; } }

.products {
  padding-bottom: 42px; }

.products__toggle {
  display: none; }

.products__link {
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
  padding: 26px 9.3% 18px;
  display: flex;
  transition: .2s;
  text-decoration: none;
  color: white;
  background: #61d1bb; }
  .products__link span {
    width: 41%; }
  .products__link:hover {
    margin-top: -5px;
    padding-bottom: 24px;
    transition: .2s;
    background: #58d5bc; }
  .products__link:hover .products__icon {
    opacity: .7; }
  .products__link:active {
    margin-top: 0;
    padding-bottom: 18px;
    transition: .2s; }
  .products__link:active span,
  .products__link:active .products__icon {
    opacity: .3; }

.products__item span {
  display: block;
  width: 40%; }

.products__icon {
  margin-left: auto;
  opacity: .5;
  fill: #14907f; }

.products__icon--interior {
  margin-top: -3px;
  margin-right: 8px; }

.products__icon--toy {
  margin-top: -5px;
  margin-right: -3px; }

.products__link--right {
  padding-bottom: 22px;
  transition: .2s;
  background: #55c3b3; }
  .products__link--right:hover {
    transition: .2s;
    background: #47c2af; }

@media (min-width: 768px) {
  .products {
    padding-bottom: 40px; }
  .products__wrapper {
    margin-top: -150px;
    height: 150px; }
  .products__list {
    margin: 0 auto;
    display: flex;
    width: 87%;
    height: 150px;
    align-items: flex-end; }
  .products__link {
    font-size: 20px;
    line-height: 30px;
    padding: 28px 36px 25px;
    width: 50%; }
    .products__link:hover {
      padding-bottom: 31px; }
  .products__link--right {
    padding-bottom: 26px; }
    .products__link--right:hover {
      padding-bottom: 32px; }
  .products__icon--interior {
    margin-top: 2px;
    margin-right: 1px; }
  .products__icon--toy {
    margin-top: 3px; } }

@media (min-width: 1150px) {
  .products {
    padding-bottom: 69px; }
  .products__list {
    width: 1050px; } }

.product-card {
  padding: 0 9.3%;
  color: black; }

.product-card__name {
  margin-top: 28px;
  margin-bottom: 0; }

.product-card__remark {
  margin-top: 3px;
  font-weight: bold;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  color: #62d0ba; }

.product-card__description {
  margin: 0;
  padding: 0;
  list-style: none; }

.product-card__text {
  margin: 18px 0 18px;
  padding: 0;
  line-height: 24px; }

.product-card__table {
  margin-bottom: 28px;
  padding: 0;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  line-height: 19px; }
  .product-card__table td {
    padding: 0; }

.product-card__line {
  padding: 10px 0 10px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ededed; }

.product-card__name-property {
  width: 37.5%; }

.product-card__property {
  width: 62.5%; }

.product-card__photo {
  margin: 0 auto;
  display: block;
  width: 100%;
  height: auto; }

.product-card__price {
  font-size: 17px;
  line-height: 24px;
  margin: 24px auto 26px;
  font-weight: bold;
  text-align: center; }

@media (min-width: 768px) {
  .product-card {
    margin: 0 auto;
    padding: 0;
    width: 87%; }
  .product-card__header {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .product-card__name {
    margin: 47px 0 29px -3px; }
  .product-card__remark {
    font-size: 17px;
    line-height: 17px;
    margin-top: 23px;
    width: 18.9%;
    text-align: center; }
  .product-card__description {
    margin: 28px 0;
    display: flex;
    position: relative;
    min-height: 52.6vw;
    flex-flow: column; }
  .product-card__item {
    box-sizing: border-box;
    width: 43.7%; }
  .product-card__text {
    font-size: 17px;
    line-height: 30px;
    margin: -8px 0 36px; }
  .product-card__table {
    font-size: 15px; }
  .product-card__name-property {
    width: 32.9%; }
  .product-card__price {
    font-size: 20px;
    line-height: 24px;
    margin: auto 0 34px; }
  .product-card__photo {
    padding: 0;
    position: absolute;
    top: -1px;
    right: 0;
    width: 50%;
    height: auto; }
  .product-card__buy {
    margin-left: -2px; } }

@media (min-width: 1150px) {
  .product-card {
    margin: 74px auto 0;
    position: relative;
    width: 1050px; }
  .product-card__header {
    z-index: 3;
    justify-content: flex-start; }
  .product-card__name {
    margin-top: 51px;
    box-sizing: border-box;
    z-index: 1;
    order: 1; }
  .product-card__remark {
    margin-top: 28px;
    margin-right: 9px;
    padding: 0 43px;
    width: 80px; }
  .product-card__description {
    position: static;
    min-height: 470px; }
  .product-card__item {
    margin-left: 175px;
    padding: 0;
    width: 292px; }
  .product-card__text {
    margin-bottom: 50px; }
  .product-card__line {
    padding: 8px 0 12px; }
  .product-card__buy {
    padding: 14px 0; }
  .product-card__photo {
    margin-left: 0;
    top: 0;
    right: 0;
    width: 525px; } }

.modal {
  display: none;
  width: 100%; }

.modal--show {
  display: block; }

.modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: .9;
  background: white;
  z-index: 4; }

.modal__products {
  padding: 0 9.4%;
  position: fixed;
  top: 50vh;
  box-sizing: border-box;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  z-index: 5; }

.modal__title {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  margin: 30px 0 20px;
  text-align: center;
  text-transform: uppercase; }

.modal__text {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 30px;
  text-align: center; }

.modal__list {
  margin-bottom: 30px;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between; }

.modal__item {
  position: relative;
  min-width: 30%;
  min-height: 52px;
  flex-grow: 1; }
  .modal__item:nth-child(2) {
    margin: 0 10px; }

.modal__size {
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;
  padding: 16px 0;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #ededed;
  background: transparent; }
  .modal__size:hover {
    border-color: #cccccc; }

.modal__radio:checked + .modal__size {
  color: black;
  border-color: #62d0ba;
  background-color: white; }

.modal__radio:focus + .modal__size {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color; }

.modal__submit {
  margin-bottom: 47px;
  color: white;
  border-color: #62d0ba;
  background-color: #62d0ba; }

@media (min-width: 768px) {
  .modal__products {
    margin: 0 auto;
    padding: 0;
    left: 50vw;
    width: 73.7%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border: 1px solid #ededed;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25); }
  .modal__form {
    margin: 0 auto;
    width: 62.5%; }
  .modal__title {
    font-size: 30px;
    line-height: 57px;
    margin: 33px 0 13px; }
  .modal__text {
    font-size: 17px;
    line-height: 30px;
    margin: 14px 0 21px; }
  .modal__list {
    margin-bottom: 31px; }
  .modal__submit {
    margin-bottom: 45px;
    padding: 15px 0 13px; } }

@media (min-width: 1150px) {
  .modal__products {
    padding: 33px 0 0;
    width: 566px; }
  .modal__form {
    margin: 0 auto;
    width: 350px; }
  .modal__title {
    margin-top: 0;
    letter-spacing: -0.2px; } }

.short-about {
  margin: 0 auto;
  width: 81.4%; }

.short-about__title {
  margin: 27px 0 31px; }

.short-about__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.short-about__text {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  margin: 12px 0 28px;
  padding-top: 3px; }

.short-about__icon-wrapper {
  margin-left: -7px;
  display: flex;
  width: 60px;
  height: 40px; }

.short-about__icon {
  margin: auto;
  fill: #62d0ba; }

@media (min-width: 768px) {
  .short-about {
    padding-bottom: 27px;
    width: 87%; }
  .short-about__title {
    margin: 50px 0 48px -3px; }
  .short-about__list {
    display: flex;
    flex-flow: row wrap; }
  .short-about__item {
    width: 50%; }
  .short-about__item:nth-child(2) {
    order: 1; }
  .short-about__item:nth-child(5) {
    order: 2; }
  .short-about__item:nth-child(3) {
    order: 3; }
  .short-about__item:nth-child(6) {
    order: 4; }
  .short-about__text {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 56px; } }

@media (min-width: 1150px) {
  .short-about {
    padding-bottom: 34px;
    width: 700px; }
  .short-about__title {
    margin-top: 58px; } }

.comments {
  padding: 0 9.3% 51px; }

.comments__title {
  margin-top: 56px; }

.comments__slider {
  margin: 0;
  padding: 0;
  list-style: none; }

.comments__item {
  display: none; }

.comments__item-show {
  display: block; }

.comments__text {
  margin: 24px 0; }

.comments__author {
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  margin-top: 28px;
  display: block;
  font-weight: bold;
  line-height: 20px; }

.comments__login {
  font-size: 17px;
  line-height: 20px;
  margin: 10px 0 13px;
  display: block; }

.comments__control {
  margin: 34px 0 38px;
  display: flex;
  flex-direction: row; }

.comments__button {
  padding: 23px 0;
  box-sizing: border-box;
  width: 50%;
  border: 1px solid #ededed;
  background: transparent; }
  .comments__button:hover .comments__arrow {
    opacity: .6; }
  .comments__button:active .comments__arrow {
    opacity: .3; }

.comments__arrow {
  margin: 0 auto;
  position: relative;
  width: 48px;
  height: 4px;
  background: black; }
  .comments__arrow::before, .comments__arrow::after {
    content: "";
    position: absolute;
    top: 6px;
    left: -4px;
    width: 20px;
    height: 4px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background: black; }
  .comments__arrow:after {
    top: -5px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.comments__button--next {
  border-left: none; }
  .comments__button--next .comments__arrow {
    -webkit-transform: translateX(-3px) rotate(180deg);
            transform: translateX(-3px) rotate(180deg); }

@media (min-width: 768px) {
  .comments {
    padding: 77px 6.5% 122px;
    position: relative;
    background: url(../img/comments_background.jpg) top left no-repeat; }
  .comments__title {
    margin: 0 0 49px -5px; }
  .comments__text {
    min-height: 153px; }
  .comments__author {
    font-size: 18px;
    line-height: 24px;
    margin-top: 24px; }
  .comments__login {
    margin-top: 9px; }
  .comments__control {
    margin: 0;
    position: absolute;
    top: 356px;
    right: 6.5%;
    width: 173px;
    height: 52px; }
  .comments__button {
    border: none; }
  .comments__button-write {
    position: absolute;
    top: 79px;
    right: 6.5%;
    width: 175px;
    height: 52px; } }

@media (min-width: 1150px) {
  .comments {
    margin: 0 auto;
    padding: 70px 90px 90px 175px;
    width: 785px;
    min-height: 387px; }
  .comments__text {
    min-height: 104px; }
  .comments__control {
    top: 307px; }
  .comments__control,
  .comments__button-write {
    right: 0; } }

.contacts__wrapper {
  margin: 0 auto;
  width: 81.4%; }

.contacts__list {
  padding: 0;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse; }
  .contacts__list td {
    padding: 0; }

.contacts__line {
  padding-bottom: 30px;
  display: flex;
  flex-direction: row; }

.contacts__name {
  width: 29.6%; }

.contacts__info {
  width: 70.4%; }

.contacts__email-link {
  position: relative;
  text-decoration: none;
  color: black; }
  .contacts__email-link::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -5px;
    left: 0;
    height: 1px;
    background: #61d1bb; }
  .contacts__email-link:hover {
    color: #61d1bb; }
  .contacts__email-link:active {
    opacity: .3; }

.contacts__wrapper-map {
  margin: 7px 0 39px;
  display: flex;
  overflow: hidden;
  position: relative;
  height: 457px;
  justify-content: center; }

.contacts__map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 457px;
  border: none;
  z-index: 5; }

.contacts__map-img {
  width: auto;
  height: auto; }

.contacts__button-write {
  margin: 39px auto;
  width: 81.4%; }

@media (max-width: 767px) {
  .contacts__title {
    font-size: 18px;
    font-weight: bold;
    line-height: 31px;
    margin: 35px 0 25px -2px; }
  .contacts__title-flag {
    display: none; } }

@media (min-width: 768px) {
  .contacts {
    text-align: center; }
  .contacts__wrapper {
    width: 87%; }
  .contacts__title {
    margin: 46px 3px 33px -4px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .contacts__list tbody {
    display: flex;
    text-align: left; }
  .contacts__line {
    width: 50%; }
  .contacts__name {
    width: 23%; }
  .contacts__email-link::after {
    bottom: -4px; }
  .contacts__wrapper-map {
    margin: 26px 0 55px; }
  .contacts__button-write {
    margin: 0 auto 57px;
    padding: 14px 40px;
    display: inline-block;
    width: auto; } }

@media (min-width: 1150px) {
  .contacts {
    margin: 71px auto 105px;
    display: flex;
    position: relative;
    width: 1050px;
    justify-content: flex-end; }
  .contacts__wrapper {
    margin-right: 50px;
    width: 300px; }
  .contacts__title {
    margin-top: 70px;
    margin-bottom: 49px; }
  .contacts__title-flag {
    position: absolute;
    top: 62px;
    left: 63px; }
  .contacts__list tbody {
    display: flex;
    flex-direction: column;
    text-align: left; }
  .contacts__line {
    width: 100%; }
  .contacts__name {
    width: 77px; }
  .contacts__info {
    width: 223px; }
  .contacts__wrapper-map {
    margin: 0;
    padding: 0;
    width: 525px; }
  .contacts__button-write {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 175px; } }

.page-footer {
  padding: 0 9.3%;
  background: #f2f2f2; }

.page-footer__logo {
  display: none; }

.page-footer__logo-link[href]:hover .page-footer__logo-icon {
  fill: #62d0ba; }

.page-footer__logo-link[href]:active .page-footer__logo-icon {
  opacity: .3; }

.page-footer__socials {
  margin: 0;
  margin-left: 8px;
  padding: 16px 0 12px;
  display: flex;
  flex-direction: row;
  list-style: none;
  border-bottom: 1px solid #ededed;
  justify-content: center;
  align-items: center; }

.page-footer__social-item {
  margin: 0 10px; }

.page-footer__social-link {
  padding: 10px;
  display: block; }
  .page-footer__social-link:hover .page-footer__icon {
    fill: #62d0ba; }
  .page-footer__social-link:active .page-footer__icon {
    opacity: .3; }

.page-footer__icon--instagram {
  margin-right: -1px;
  margin-left: -16px; }

.page-footer__copyright {
  padding: 13px 0 24px;
  text-align: center; }

.page-footer__copyright-link {
  font-size: 19px;
  font-weight: bold;
  line-height: 30px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black;
  justify-content: center;
  align-items: center; }
  .page-footer__copyright-link:hover .page-footer__academy {
    fill: #47c2af; }
  .page-footer__copyright-link:active {
    opacity: .3; }

.page-footer__academy {
  margin-top: 4px;
  margin-left: 30px;
  fill: #62d0ba; }

@media (min-width: 768px) {
  .page-footer {
    padding: 0; }
  .page-footer__wrapper {
    margin: 0 auto;
    width: 87%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .page-footer__logo {
    display: block; }
  .page-footer__logo,
  .page-footer__copyright {
    width: 30%; }
  .page-footer__socials {
    padding: 49px 0 37px; }
  .page-footer__copyright {
    padding-bottom: 13px; }
  .page-footer__copyright-link {
    justify-content: flex-end; } }

@media (min-width: 1150px) {
  .page-footer__wrapper {
    width: 1050px; } }

.form-order {
  margin: 0 auto;
  width: 81.4%; }

.form-order__set {
  margin: 0;
  padding: 0;
  border: none; }

.form-order__wrapper {
  margin: 0 0 41px; }

.form-order__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.form-order__legend {
  font-size: 17px;
  font-weight: bold;
  line-height: 21px;
  margin: 0 0 30px;
  display: flex;
  font-weight: bold;
  text-transform: uppercase;
  color: #62d0ba; }
  .form-order__legend:after {
    margin: 11px 1px 11px 30px;
    content: "";
    width: 65%;
    height: 1px;
    background: #62d0ba;
    flex-grow: 1; }

.form-order__type,
.form-order__color {
  font-size: 17px;
  font-weight: bold;
  line-height: 18px;
  margin-bottom: 24px;
  padding-left: 63px;
  display: block;
  position: relative;
  cursor: pointer; }

.form-order__item--color {
  margin: 32px 0 43px; }

.form-order__radio {
  position: absolute;
  top: -8px;
  left: 1px;
  width: 34px;
  height: 34px;
  border: 2px solid black;
  border-radius: 19px; }

.form-order__input-radio:checked + .form-order__radio::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #62d0ba; }

.form-order__color {
  margin: 32px 0 43px; }

.form-order__checkbox {
  position: absolute;
  top: -11px;
  left: 1px;
  width: 36px;
  height: 35px;
  border: 2px solid black; }

.form-order__input-check:checked + .form-order__checkbox::before,
.form-order__input-check:checked + .form-order__checkbox::after {
  content: "";
  position: absolute;
  top: 21px;
  left: 6px;
  width: 10px;
  height: 2.5px;
  border-radius: 2px;
  background: black; }

.form-order__input-check:checked + .form-order__checkbox::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.form-order__input-check:checked + .form-order__checkbox::after {
  top: 16px;
  left: 10px;
  width: 22px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.form-order__type:hover .form-order__radio,
.form-order__color:hover .form-order__checkbox {
  border-color: #62d0ba; }

.form-order__type:hover,
.form-order__color:hover {
  color: #62d0ba; }

.form-order__type:active .form-order__radio,
.form-order__color:active .form-order__checkbox {
  border-color: #cccccc; }

.form-order__input-radio:focus + .form-order__radio,
.form-order__input-check:focus + .form-order__checkbox {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color; }

.form-order__item:last-child .form-order__color {
  margin-bottom: 24px; }

.form-order__wrapper--name {
  margin: -4px 0 -8px; }

.form-order__legend--name {
  margin-bottom: 19px; }

.form-order__name {
  font-size: 17px;
  font-weight: bold;
  line-height: 18px; }

.form-order__block--icon {
  position: relative; }

.form-order__field {
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 16px;
  padding: 11px 0 15px;
  display: block;
  width: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent;
  z-index: 2; }
  .form-order__field::-webkit-input-placeholder {
    font-size: 17px;
    line-height: 18px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: #d6d6d6; }
  .form-order__field::-ms-input-placeholder {
    font-size: 17px;
    line-height: 18px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: #d6d6d6; }
  .form-order__field::placeholder {
    font-size: 17px;
    line-height: 18px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: #d6d6d6; }
  .form-order__field:hover {
    cursor: pointer;
    border-color: #62d0ba;
    outline: none; }
  .form-order__field:hover + .form-order__icon {
    fill: #62d0ba; }

.form-order__wrapper--contacts {
  margin-bottom: 15px; }

.form-order__legend--phone,
.form-order__legend--email {
  margin: 20px 0 16px; }

.form-order__field--phone,
.form-order__field--email {
  margin-bottom: 29px;
  padding: 4px 0 15px; }
  .form-order__field--phone::-webkit-input-placeholder,
  .form-order__field--email::-webkit-input-placeholder {
    padding-right: 33px; }
  .form-order__field--phone::-ms-input-placeholder,
  .form-order__field--email::-ms-input-placeholder {
    padding-right: 33px; }
  .form-order__field--phone::placeholder,
  .form-order__field--email::placeholder {
    padding-right: 33px; }

.form-order__icon {
  position: absolute;
  top: 37px;
  right: 4px;
  fill: #cccccc; }

.form-order__icon--phone {
  right: 7px; }

.form-order__legend--textarea {
  margin: 20px 0 21px; }

.form-order__textarea {
  font-size: 17px;
  line-height: 19px;
  padding: 13px 16px 30px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  resize: none;
  border: 2px solid black; }
  .form-order__textarea::-webkit-input-placeholder {
    font-size: 17px;
    line-height: 19px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: #d6d6d6; }
  .form-order__textarea::-ms-input-placeholder {
    font-size: 17px;
    line-height: 19px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: #d6d6d6; }
  .form-order__textarea::placeholder {
    font-size: 17px;
    line-height: 19px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: #d6d6d6; }

.form-order__remark {
  font-size: 14px;
  line-height: 16px;
  margin: 16px 0 31px; }

.form-order__submit {
  font-size: 17px;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 55px;
  padding-bottom: 14px;
  font-family: "Open Sans", "Arial", sans-serif;
  cursor: pointer; }

@media (min-width: 768px) {
  .form-order {
    margin: 0;
    width: 100%; }
  .form-order__set:nth-child(even) {
    background: #f2f2f2; }
  .form-order__wrapper {
    margin: 0 auto;
    padding: 24px 0 39px;
    display: flex;
    width: 87%;
    align-items: flex-start; }
  .form-order__legend {
    padding-top: 28px;
    width: 25%; }
    .form-order__legend::after {
      display: none; }
  .form-order__list,
  .form-order__textarea {
    width: 75%; }
  .form-order__type,
  .form-order__color {
    font-size: 19px;
    line-height: 18px;
    margin: 0;
    padding: 29px 0 29px 80px;
    display: flex;
    align-items: center; }
  .form-order__radio {
    top: 14px;
    left: 0;
    width: 48px;
    height: 48px;
    border-radius: 25px; }
  .form-order__input-radio:checked + .form-order__radio::after {
    top: 13.4px;
    left: 13.6px;
    width: 21px;
    height: 21px;
    border-radius: 12px; }
  .form-order__wrapper--color {
    padding: 37px 0 16px; }
  .form-order__list--color {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between; }
  .form-order__item--color {
    margin: 0;
    width: 47.7%; }
  .form-order__checkbox {
    top: 14px;
    left: 0;
    width: 50px;
    height: 48px; }
  .form-order__input-check:checked + .form-order__checkbox::before,
  .form-order__input-check:checked + .form-order__checkbox::after {
    top: 28px;
    left: 8px;
    width: 15px; }
  .form-order__input-check:checked + .form-order__checkbox::after {
    top: 24px;
    left: 16px;
    width: 30px; }
  .form-order__wrapper--name {
    padding: 44px 0 32px; }
  .form-order__legend--name {
    margin-top: -8px; }
  .form-order__block {
    display: flex;
    align-items: baseline; }
  .form-order__name {
    font-size: 19px;
    font-weight: bold;
    line-height: 31px;
    margin-right: 25px; }
  .form-order__field {
    margin-bottom: 18px;
    padding: 17px 0 13px 17px;
    font-size: 19px; }
    .form-order__field::-webkit-input-placeholder {
      font-size: 19px; }
    .form-order__field::-ms-input-placeholder {
      font-size: 19px; }
    .form-order__field::placeholder {
      font-size: 19px; }
  .form-order__wrapper--contacts {
    padding-bottom: 32px; }
  .form-order__list--contacts {
    width: 100%; }
  .form-order__block--icon {
    display: flex;
    width: 100%; }
  .form-order__legend--phone,
  .form-order__legend--email {
    padding: 0;
    width: 25%; }
  .form-order__field--phone,
  .form-order__field--email {
    margin-left: 5px;
    width: 75%; }
  .form-order__icon--phone {
    top: 37px;
    right: 25px; }
  .form-order__icon--email {
    top: 17px;
    right: 22px; }
  .form-order__field--phone {
    margin-top: 20px;
    margin-bottom: 18px; }
  .form-order__textarea {
    width: 75%; }
  .form-order__block--textarea {
    width: 100%; }
  .form-order__legend--textarea {
    margin-top: 12px; }
  .form-order__textarea {
    font-size: 19px;
    line-height: 26px;
    padding: 7px 16px 1px; }
    .form-order__textarea::-webkit-input-placeholder {
      font-size: 19px;
      line-height: 30px; }
    .form-order__textarea::-ms-input-placeholder {
      font-size: 19px;
      line-height: 30px; }
    .form-order__textarea::placeholder {
      font-size: 19px;
      line-height: 30px; }
  .form-order__end {
    margin: 13px auto 49px;
    display: flex;
    flex-direction: row-reverse;
    width: 87%;
    justify-content: space-between;
    align-items: baseline; }
  .form-order__remark {
    font-size: 17px;
    line-height: 30px;
    margin: 0;
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px); }
  .form-order__submit {
    margin: 0;
    width: 34.4%; } }

@media (min-width: 1150px) {
  .form-order__wrapper {
    width: 1050px; }
  .form-order__legend {
    padding-left: 62px;
    width: auto;
    flex-grow: 1; }
  .form-order__list {
    width: 875px; }
  .form-order__wrapper--color {
    padding-top: 36px; }
  .form-order__item--color {
    width: 262px; }
    .form-order__item--color:nth-child(3n+2) {
      width: 264px; }
  .form-order__list--color {
    justify-content: flex-start; }
  .form-order__name {
    margin-left: 2px; }
  .form-order__block {
    margin-right: 175px;
    width: 700px; }
  .form-order__block--icon {
    width: 875px; }
  .form-order__field,
  .form-order__textarea {
    box-sizing: border-box;
    width: 700px; }
  .form-order__icon {
    right: 7px; }
  .form-order__icon--email {
    right: 4px; }
  .form-order__block--textarea {
    width: 100%; }
  .form-order__end {
    margin: 10px 0 50px;
    width: 700px; }
  .form-order__remark {
    -webkit-transform: translate(1px, -1px);
            transform: translate(1px, -1px); }
  .form-order__submit {
    padding: 13px 31px 14px;
    width: auto; } }

.catalog {
  margin: 0 auto;
  width: 81.4%; }

.catalog-item {
  margin-top: 29px;
  text-decoration: none;
  color: black; }

.catalog-item__image {
  width: 260px;
  height: 195px; }

.catalog-item:hover .catalog-item__list {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); }

.catalog-item:hover a {
  color: rgba(0, 0, 0, 0.6); }

.catalog-item:hover .catalog-item__buy-icon {
  opacity: 1;
  fill: #62d0ba; }

.catalog-item:active {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); }

.catalog-item:active a {
  color: rgba(0, 0, 0, 0.3); }

.catalog-item:active .catalog-item__buy-icon {
  opacity: .3; }

.catalog-item__list {
  border: 1px solid #ededed; }

.catalog-item__description {
  text-decoration: none;
  color: black; }

.catalog-item__name {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  margin: 27px 10.4% 5px; }

.catalog-item__specifications {
  font-size: 13px;
  line-height: 30px;
  margin: 0 10.4% 19px; }

.catalog-item__buy {
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  margin: 0 10.4%;
  padding: 21px 0 27px;
  display: flex;
  text-decoration: none;
  color: black;
  border-top: 1px solid #ededed;
  justify-content: space-between; }

.catalog-item__buy-icon {
  opacity: .2; }

@media (min-width: 768px) {
  .catalog {
    margin: 81px auto 53px;
    width: 87%; }
  .catalog-item {
    margin-top: 54px;
    display: flex;
    height: 43.5vw;
    border: none;
    flex-flow: column wrap;
    align-items: stretch; }
  .catalog-item__photo {
    overflow: hidden;
    width: 50%;
    height: auto; }
  .catalog-item__list {
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 50%;
    border: 1px solid #ededed;
    border-left: none;
    flex-grow: 1; }
  .catalog-item__name {
    font-size: 20px;
    line-height: 24px;
    margin: 25px 26px 5px; }
  .catalog-item__specifications {
    margin: 0 26px;
    font-size: 15px; }
  .catalog-item__buy {
    margin: auto 31px 0;
    padding: 23px 0 25px;
    box-sizing: border-box;
    font-size: 17px;
    border-top: 1px solid #ededed; } }

@media (min-width: 768px) and (max-width: 1150px -1px) {
  .catalog-item:hover .catalog-item__list {
    box-shadow: 6px 0 10px rgba(0, 0, 0, 0.1); }
  .catalog-item:hover a {
    color: rgba(0, 0, 0, 0.6); }
  .catalog-item:hover .catalog-item__buy-icon {
    opacity: 1;
    fill: #62d0ba; }
  .catalog-item:active {
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.1); }
  .catalog-item:active a {
    color: rgba(0, 0, 0, 0.3); }
  .catalog-item:active .catalog-item__buy-icon {
    opacity: .3; } }

@media (min-width: 1150px) {
  .catalog {
    margin-top: 129px;
    margin-bottom: 58px;
    display: flex;
    width: 1050px;
    justify-content: space-between;
    align-items: stretch; }
  .catalog-item {
    margin: 0;
    width: 316px;
    height: auto;
    flex-flow: column nowrap; }
  .catalog-item__photo {
    width: auto; }
  .catalog-item__list {
    width: auto;
    border-left: 1px solid #ededed; }
  .catalog-item__specifications {
    margin-bottom: 13px; }
  .catalog-item__buy {
    margin: auto auto 0;
    width: 257px; } }

.making {
  margin: 30px auto 58px;
  width: 81.4%;
  text-decoration: none;
  color: black; }

.making__title {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  margin: 0;
  padding: 23px 13% 25px;
  display: flex;
  align-items: center;
  border: 1px solid #ededed;
  border-bottom: none; }

.making__title-icon {
  margin-right: 24px;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  fill: #62d0ba;
  flex-shrink: 0; }

.making__player {
  position: relative;
  width: auto; }

.making__image {
  width: 260px;
  height: 150px; }

.making__play {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 0;
  cursor: pointer;
  transition: .2s;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: none;
  background-color: transparent;
  z-index: 2; }
  .making__play:hover {
    transition: .2s;
    -webkit-transform: scale(1.2, 1.2) translate(-41%, -41%);
            transform: scale(1.2, 1.2) translate(-41%, -41%); }
  .making__play:active {
    transition: .2s;
    -webkit-transform: scale(0.8, 0.8) translate(-64%, -64%);
            transform: scale(0.8, 0.8) translate(-64%, -64%);
    opacity: .3; }

.making__description {
  border: 1px solid #ededed;
  border-top: none; }

.making__text {
  font-size: 13px;
  line-height: 24px;
  margin: 0 13% 26px;
  padding: 26px 0 0; }

.making__button {
  margin: 0 13% 31px;
  width: auto; }

@media (min-width: 768px) {
  .making {
    margin: 0 auto 63px;
    display: flex;
    flex-direction: column;
    width: 87%;
    border: none; }
  .making__title {
    margin: 0;
    padding: 34px 6% 3px;
    position: relative;
    font-size: 20px;
    border-top: none;
    order: 2; }
    .making__title::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: -6px;
      left: 0;
      height: 6px;
      background: white; }
  .making__title-icon {
    margin-right: 32px; }
  .making__description {
    margin: 0;
    padding: 0 6% 45px;
    border: 1px solid #ededed;
    border-top: none;
    order: 3; }
  .making__text {
    margin: 0 0 35px;
    font-size: 15px;
    line-height: 30px; }
  .making__image {
    width: 100%;
    height: auto; }
  .making__button {
    margin: 0;
    padding: 14px 0 14px; }
  .making:hover .making__title {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }
  .making:hover .making__description {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1); }
  .making:active .making__title {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }
  .making:active .making__description {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); } }

@media (min-width: 1150px) {
  .making {
    margin: 5px auto 104px;
    position: relative;
    width: 1050px; }
  .making__player {
    position: absolute;
    width: 682px;
    height: 455px;
    top: 0;
    left: 0; }
  .making__title,
  .making__description {
    margin-left: 682px;
    padding: 42px 57px 0 79px;
    width: 367px;
    border: none;
    border-right: 1px solid #ededed;
    box-sizing: border-box; }
  .making__title {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #ededed; }
  .making__title-icon {
    margin-right: auto;
    margin-bottom: 21px; }
  .making__description {
    padding-top: 7px;
    height: 312px;
    border-bottom: 1px solid #ededed; }
  .making__text {
    padding-bottom: 46px;
    margin: 0; } }
