@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: local("Open Sans"), local("Open Sans"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2"); }

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: local("Open Sans"), local("Open Sans"), url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2"); }

body {
  margin: 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 17px;
  font-style: normal;
  line-height: 21px;
  color: black;
  background: white; }

.page__header,
.page__main,
.page__footer {
  width: 100%; }

.visually-hidden:checked,
.visually-hidden:not(checked),
.visually-hidden:not(:focus):not(:active) {
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  border: none;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%); }

.button {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  padding: 13px 0 15px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  border: 2px solid black;
  background: transparent; }
  .button:hover {
    color: white;
    border: 2px solid #454545;
    background: #454545; }
  .button:active span {
    opacity: .3; }

.border {
  width: 100%;
  height: 6px;
  background-image: url(../img/border.svg); }

.image {
  display: block; }

.page-header__slogan {
  padding: 20px 9.35%;
  overflow: hidden;
  background-color: #f2f2f2; }

.page-header__slogan--main {
  min-height: 242px;
  background: #fafafa url(../img/mishka_slogan-background_mobile.jpg) top -18px center no-repeat; }
  .page-header__slogan--main .page-header__title {
    margin-top: -19px;
    padding-top: 69px; }

.page-header__title {
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  margin: 0 auto;
  padding: 50px 0 56px;
  display: block;
  text-align: center; }

.main-nav__button-toggle {
  display: none; }

.main-nav__list {
  font-size: 17px;
  font-weight: bold;
  line-height: 21px;
  margin: 0;
  padding: 0;
  list-style: none; }

.main-nav__link {
  padding: 27px 30px 30px 23.5%;
  display: none;
  text-decoration: none;
  color: black;
  border-bottom: 1px solid #ededed; }
  .main-nav__link[href]:hover {
    color: #8f8f8f; }
  .main-nav__link[href]:active {
    opacity: .3; }

@media (max-width: 780px) {
  .main-nav__button-toggle {
    display: block;
    position: absolute;
    top: 1px;
    right: 0;
    width: 78px;
    height: 78px;
    cursor: pointer;
    border: none;
    background: white;
    z-index: 2; }
  .main-nav--closed .main-nav__button-toggle::before {
    content: "";
    position: absolute;
    top: 31px;
    right: 31px;
    width: 20px;
    height: 2px;
    background-color: black;
    box-shadow: 0 6px 0 0 black, 0 12px 0 0 black; }
  .main-nav--opened .main-nav__button-toggle::before,
  .main-nav--opened .main-nav__button-toggle::after {
    content: "";
    position: absolute;
    top: 37px;
    right: 27px;
    width: 27px;
    height: 2px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background-color: black; }
  .main-nav--opened .main-nav__button-toggle::after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .main-nav--opened .main-nav__link {
    display: block; }
  .main-nav--no-js .main-nav__link {
    display: block; }
  .main-nav--no-js .main-nav__button-toggle {
    display: none; } }

.main-nav__logo {
  padding: 21px 0 22px 0;
  display: block;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  background-color: white; }
  .main-nav__logo[href]:hover {
    opacity: .6; }
  .main-nav__logo[href]:active {
    opacity: .3; }

.main-nav__logo--mobile {
  margin: 0 auto;
  display: block; }

.main-nav__link--search,
.main-nav__link--cart {
  padding-left: 0; }

.main-nav__icon {
  display: inline-block;
  position: relative;
  width: 23.8%; }

.main-nav__icon--search,
.main-nav__icon--cart {
  position: absolute;
  top: -14px;
  right: 18px;
  opacity: .2; }

.main-nav__link--search:hover .main-nav__icon--search,
.main-nav__link--cart:hover .main-nav__icon--cart {
  opacity: 1;
  fill: #62d0ba; }

.main-nav__link--search:active .main-nav__icon--search,
.main-nav__link--cart:active .main-nav__icon--cart {
  opacity: 1;
  fill: #62d0ba; }

.page-main__appeal {
  margin: 22px 9.35% 21px;
  padding: 0;
  font-size: 13px;
  line-height: 24px;
  color: black; }

.main-products {
  padding-bottom: 36px; }

.main-products__toggle {
  display: none; }

.main-products__link {
  font-size: 19px;
  font-weight: bold;
  line-height: 24px;
  padding: 26px 9.35% 18px;
  display: flex;
  transition: .2s;
  text-decoration: none;
  color: white;
  background: #61d1bb; }
  .main-products__link span {
    width: 50%; }
  .main-products__link:hover {
    margin-top: -5px;
    padding-bottom: 24px;
    transition: .2s;
    background: #58d5bc; }
  .main-products__link:hover .main-products__icon {
    opacity: .7; }
  .main-products__link:active {
    margin-top: 0;
    padding-bottom: 18px;
    transition: .2s; }
  .main-products__link:active span,
  .main-products__link:active .main-products__icon {
    opacity: .3; }

.main-products__item span {
  display: block;
  width: 40%; }

.main-products__icon {
  margin-left: auto;
  opacity: .5;
  fill: #14907f; }

.icon-interior {
  margin-top: -3px;
  margin-right: 8px; }

.icon-toy {
  margin-top: -5px;
  margin-right: -3px;
  padding-bottom: 4px; }

.main-products__link--right {
  transition: .3s;
  background: #55c3b3; }
  .main-products__link--right:hover {
    transition: .3s;
    background: #47c2af; }

.product-card {
  margin: 0;
  padding: 0 9.35%;
  flex-direction: column;
  list-style: none;
  color: black; }

.product-card__name {
  font-size: 25px;
  font-weight: bold;
  line-height: 29px;
  margin-top: 28px;
  margin-bottom: 0; }

.product-card__remark {
  margin-top: 4px;
  font-weight: bold;
  letter-spacing: 0;
  text-transform: uppercase;
  color: #62d0ba; }

.product-card__description {
  margin: 23px 0 18px;
  font-size: 15px;
  line-height: 24px; }

.product-card__list {
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 28px;
  padding: 0;
  width: 100%;
  border-collapse: collapse; }
  .product-card__list td {
    padding: 0; }

.product-card__line {
  padding: 10px 0 10px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #ededed; }

.product-card__name-property {
  width: 37.5%; }

.product-card__property {
  width: 62.5%; }

.product-card__photo {
  margin: 0 auto;
  width: 260px; }

.product-card__price {
  margin: 25px auto 28px;
  font-weight: bold;
  text-align: center; }

.product-card__buy {
  padding: 13px 0 15px; }

.modal {
  display: none; }

.modal--show {
  display: block; }

.modal__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  opacity: .9;
  background: white;
  z-index: 4; }

.modal__products {
  padding: 0 9.4%;
  position: fixed;
  top: 50vh;
  box-sizing: border-box;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  background: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  z-index: 5; }

.modal__title {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  margin: 30px 0 20px;
  text-align: center;
  text-transform: uppercase; }

.modal__text {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 30px;
  text-align: center; }

.modal__list {
  margin-bottom: 30px;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between; }

.modal__item {
  position: relative;
  min-width: 30%;
  min-height: 52px;
  flex-grow: 1; }
  .modal__item:nth-child(2) {
    margin: 0 10px; }

.modal__size {
  font-size: 17px;
  font-weight: bold;
  line-height: 16px;
  padding: 16px 0;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  border: 2px solid #ededed;
  background: transparent; }
  .modal__size:hover {
    border-color: #cccccc; }

.modal__radio:checked + .modal__size {
  color: black;
  border-color: #62d0ba;
  background-color: white; }

.modal__radio:focus + .modal__size {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color; }

.modal__submit {
  margin-bottom: 47px;
  color: white;
  border-color: #62d0ba;
  background-color: #62d0ba; }

.short-about {
  padding: 0 9.35%; }

.short-about__title {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px;
  margin: 27px 0 31px; }

.short-about__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.short-about__advantages {
  margin: 12px 0 28px;
  padding-top: 3px;
  font-weight: bold;
  line-height: 20px; }

.short-about__icon-wrapper {
  margin-left: -7px;
  display: flex;
  width: 60px;
  height: 40px; }

.short-about__icon {
  margin: auto;
  fill: #62d0ba; }

.comments {
  margin-top: 55px;
  padding: 0 9.35% 45px; }

.comments__title {
  font-size: 25px;
  font-weight: bold;
  line-height: 30px; }

.comments__slider {
  margin: 0;
  padding: 0;
  list-style: none; }

.comments__item {
  display: none; }

.comments__item-show {
  display: block; }

.comments__text {
  font-size: 15px;
  line-height: 30px;
  margin: 24px 0; }

.comments__author {
  margin-top: 28px;
  display: block;
  font-weight: bold;
  line-height: 20px; }

.comments__login {
  margin: 8px 0 13px;
  display: block; }

.comments__control {
  margin: 34px 0 38px;
  display: flex;
  flex-direction: row; }

.comments__button {
  padding: 23px 0;
  box-sizing: border-box;
  width: 50%;
  border: 1px solid #ededed;
  background: transparent; }
  .comments__button:hover .comments__arrow {
    opacity: .6; }
  .comments__button:active .comments__arrow {
    opacity: .3; }

.comments__arrow {
  margin: 0 auto;
  position: relative;
  width: 48px;
  height: 4px;
  background: black; }
  .comments__arrow::before, .comments__arrow::after {
    content: "";
    position: absolute;
    top: 6px;
    left: -4px;
    width: 20px;
    height: 4px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    background: black; }
  .comments__arrow:after {
    top: -5px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg); }

.comments__button--next {
  -webkit-transform: translateX(-3px) rotate(180deg);
          transform: translateX(-3px) rotate(180deg);
  border-right: none; }

.contacts__wrapper {
  padding: 0 9.35%;
  position: relative; }

.contacts__title {
  font-size: 18px;
  font-weight: bold;
  line-height: 31px;
  margin: 35px 0 25px; }

.contacts__list {
  padding: 0;
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
  line-height: 30px; }
  .contacts__list td {
    padding: 0; }

.contacts__line {
  padding-bottom: 30px;
  display: flex;
  flex-direction: row; }

.contacts__name {
  width: 30%; }

.contacts__info {
  width: 70%; }

.contacts__email-link {
  position: relative;
  text-decoration: none;
  color: black; }
  .contacts__email-link::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -5px;
    left: 0;
    height: 1px;
    background: #61d1bb; }
  .contacts__email-link:hover {
    color: #61d1bb; }
  .contacts__email-link:active {
    opacity: .3; }

.contacts__wrapper-map {
  margin: 7px 0 39px;
  position: relative;
  min-height: 457px; }

.contacts__map {
  position: absolute;
  left: 0;
  width: 100%;
  height: 457px;
  border: none;
  z-index: 2; }

.contacts__button-write {
  margin: 39px 9.35%;
  width: 81.2%; }

.page-footer {
  padding: 0 9.35%;
  background: #f2f2f2; }

.page-footer__socials {
  margin: 0;
  margin-left: 8px;
  padding: 16px 0 12px;
  display: flex;
  flex-direction: row;
  list-style: none;
  border-bottom: 1px solid #ededed;
  justify-content: center;
  align-items: center; }

.page-footer__social-item {
  margin: 0 10px; }

.page-footer__social-link {
  padding: 10px;
  display: block; }
  .page-footer__social-link:hover .page-footer__icon {
    fill: #62d0ba; }
  .page-footer__social-link:active .page-footer__icon {
    opacity: .3; }

.page-footer__icon--instagram {
  margin-right: -1px;
  margin-left: -16px; }

.page-footer__copyright {
  padding: 18px 0 24px;
  text-align: center; }

.page-footer__copyright-link {
  font-size: 19px;
  font-weight: bold;
  line-height: 30px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black;
  justify-content: center;
  align-items: center; }
  .page-footer__copyright-link:hover .page-footer__academy {
    fill: #47c2af; }
  .page-footer__copyright-link:active {
    opacity: .3; }

.page-footer__academy {
  margin-top: 4px;
  margin-left: 30px;
  fill: #62d0ba; }

.form-order {
  padding: 0 9.35%; }

.form-order__set {
  margin: 0 0 17px;
  padding: 0;
  border: none; }
  .form-order__set ul {
    margin: 0;
    padding: 0;
    list-style: none; }

.form-order__legend {
  font-size: 17px;
  font-weight: bold;
  line-height: 21px;
  margin: 0 0 30px;
  display: flex;
  font-weight: bold;
  text-transform: uppercase;
  color: #62d0ba; }
  .form-order__legend:after {
    margin: 11px 1px 11px 30px;
    content: "";
    width: 65%;
    height: 1px;
    background: #62d0ba;
    flex-grow: 1; }

.form-order__type,
.form-order__color {
  margin-bottom: 24px;
  padding-left: 63px;
  display: block;
  position: relative;
  font-weight: bold;
  line-height: 18px;
  cursor: pointer; }

.form-order__type:hover .form-order__radio,
.form-order__radio {
  position: absolute;
  top: -8px;
  left: 2px;
  width: 34px;
  height: 34px;
  border: 2px solid black;
  border-radius: 19px; }

.form-order__input-radio:checked + .form-order__radio::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 9px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #62d0ba; }

.form-order__color {
  margin-bottom: 43px; }
  .form-order__color:first-child {
    margin-top: 32px; }

.form-order__checkbox {
  position: absolute;
  top: -11px;
  left: 1px;
  width: 36px;
  height: 35px;
  border: 2px solid black; }

.form-order__input-check:checked + .form-order__checkbox::before,
.form-order__input-check:checked + .form-order__checkbox::after {
  content: "";
  position: absolute;
  top: 21px;
  left: 6px;
  width: 10px;
  height: 2.5px;
  border-radius: 2px;
  background: black; }

.form-order__input-check:checked + .form-order__checkbox::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

.form-order__input-check:checked + .form-order__checkbox::after {
  top: 16px;
  left: 10px;
  width: 22px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.form-order__type:hover .form-order__radio,
.form-order__color:hover .form-order__checkbox {
  border-color: #62d0ba; }

.form-order__type:hover,
.form-order__color:hover {
  color: #62d0ba; }

.form-order__type:active .form-order__radio,
.form-order__color:active .form-order__checkbox {
  border-color: #cccccc; }

.form-order__input-radio:focus + .form-order__radio,
.form-order__input-check:focus + .form-order__checkbox {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color; }

.form-order__item:last-child .form-order__color {
  margin-bottom: 24px; }

.form-order__set--name {
  margin: -2px 0 -12px; }
  .form-order__set--name .form-order__legend {
    margin-bottom: 23px; }

.form-order__name {
  font-weight: bold; }

.form-order__block--icon {
  position: relative; }

.form-order__field {
  font-size: 17px;
  line-height: 21px;
  margin-bottom: 20px;
  padding: 13px 0 15px;
  display: block;
  width: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  border: none;
  border-bottom: 2px solid black;
  background-color: transparent; }
  .form-order__field::-webkit-input-placeholder {
    font-size: 17px;
    line-height: 21px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: #d6d6d6; }
  .form-order__field::-ms-input-placeholder {
    font-size: 17px;
    line-height: 21px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: #d6d6d6; }
  .form-order__field::placeholder {
    font-size: 17px;
    line-height: 21px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: #d6d6d6; }
  .form-order__field:hover {
    cursor: pointer;
    border-color: #62d0ba;
    outline: none; }
  .form-order__field:hover + .form-order__icon {
    fill: #62d0ba; }

.form-order__set--contact {
  margin-bottom: 15px; }

.form-order__legend--phone,
.form-order__legend--email {
  margin: 20px 0 13px; }

.form-order__field--phone,
.form-order__field--email {
  margin-bottom: 29px;
  padding: 4px 0 15px; }
  .form-order__field--phone::-webkit-input-placeholder,
  .form-order__field--email::-webkit-input-placeholder {
    padding-right: 33px; }
  .form-order__field--phone::-ms-input-placeholder,
  .form-order__field--email::-ms-input-placeholder {
    padding-right: 33px; }
  .form-order__field--phone::placeholder,
  .form-order__field--email::placeholder {
    padding-right: 33px; }

.form-order__icon {
  position: absolute;
  top: 37px;
  right: 4px;
  fill: #cccccc;
  z-index: -1; }

.form-order__icon--phone {
  right: 7px; }

.form-order__legend--textarea {
  margin: 20px 0 21px; }

.form-order__textarea {
  font-size: 17px;
  line-height: 19px;
  padding: 13px 16px 30px;
  display: block;
  box-sizing: border-box;
  width: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  resize: none;
  border: 2px solid black; }
  .form-order__textarea::-webkit-input-placeholder {
    font-size: 17px;
    line-height: 19px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: #d6d6d6; }
  .form-order__textarea::-ms-input-placeholder {
    font-size: 17px;
    line-height: 19px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: #d6d6d6; }
  .form-order__textarea::placeholder {
    font-size: 17px;
    line-height: 19px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: #d6d6d6; }

.form-order__remark {
  font-size: 14px;
  line-height: 16px;
  margin: 16px 0 31px; }

.form-order__submit {
  font-size: 17px;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 56px;
  font-family: "Open Sans", "Arial", sans-serif;
  cursor: pointer; }

.catalog {
  margin: 0 9.35%; }

.catalog-item {
  margin-top: 29px;
  text-decoration: none;
  color: black;
  border: 1px solid #ededed; }

.catalog-item__description {
  text-decoration: none;
  color: black; }

.catalog-item__name {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  margin: 0 27px;
  padding: 27px 0 5px; }

.catalog-item__specifications {
  font-size: 13px;
  line-height: 30px;
  margin: 0 27px;
  padding: 0 0 19px;
  position: relative;
  border-bottom: 1px solid #ededed; }

.catalog-item__buy {
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  padding: 21px 27px 27px;
  display: flex;
  text-decoration: none;
  color: black;
  justify-content: space-between; }

.catalog-item__buy-icon {
  opacity: .2; }

.making {
  margin: 30px 9.35% 58px;
  text-decoration: none;
  color: black;
  border: 1px solid #ededed; }

.making__title {
  font-size: 17px;
  font-weight: bold;
  line-height: 24px;
  margin: 0 33px;
  padding: 23px 0 25px;
  display: flex;
  align-items: center; }

.making__title-icon {
  margin-right: 24px;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  fill: #62d0ba;
  flex-shrink: 0; }

.making__player {
  position: relative;
  width: auto; }

.making__play {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 0;
  cursor: pointer;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: none;
  background-color: transparent;
  z-index: 2; }

.making__text {
  font-size: 13px;
  line-height: 24px;
  margin: 0 33px;
  padding: 27px 0 25px; }

.making__button {
  margin: 0 33px 32px;
  width: auto; }
