body {
  margin     : 0;

  font-family: "Open Sans", sans-serif;
  font-style : normal;

  color      : $base-text;
}

.page__header,
.page__main,
.page__footer {
  width    : 100%;
}

.visually-hidden:checked,
.visually-hidden:not(checked),
.visually-hidden:not(:focus):not(:active) {
  margin     : -1px;
  padding    : 0;

  overflow   : hidden;
  clip       : rect(0 0 0 0);

  position   : absolute;
  width      : 1px;
  height     : 1px;

  white-space: nowrap;

  border     : none;

  clip-path  : inset(100%);
}

.button {
  padding       : 20px-2-5 0 20px-2-3;

  box-sizing    : border-box;
  width         : 100%;

  font-family   : "Open Sans Bold", sans-serif;
  font-size     : 18px;
  line-height   : 20px;

  text-align    : center;
  text-transform: uppercase;

  border        : 2px solid hsl(0, 0%, 0%);
  background    : transparent;

  &:hover {
    color     : $button-text;
    border    : 2px solid $button-hover;
    background: $button-hover;
  }

  &:active span {
    opacity: .3;
  }
}

.border {
  width           : 100%;
  height          : 6px;
  
  background-image: url(../img/border.svg);
}
