@font-face {
  font-family: "Open Sans";

  src:
    local("Open Sans"),
    local("OpenSans"),
    url("../fonts/OpenSans-Regular.ttf") format("truetype"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style : normal;
}

@font-face {
  font-family: "Open Sans Bold";

  src:
    local("Open Sans Bold"),
    local("OpenSansBold"),
    url("../fonts/OpenSans-Bold.ttf") format("truetype"),
    url("../fonts/OpenSans-Bold.woff") format("woff"),
    url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style : normal;
}