$base-text        : hsl(0, 0%, 0%);
$base-background  : hsl(0, 0%, 100%);
$second-background: hsl(0, 0%, 95%);
$lite-item        : hsl(168, 55%, 60%);
$lite-item-hover  : hsl(168, 60%, 59%);
$dark-item        : hsl(171, 48%, 55%);
$dark-item-hover  : hsl(171, 50%, 52%);
$text-item        : hsl(0, 0%, 100%);
$text-remark      : hsl(168, 54%, 60%);
$button-hover     : hsl(0, 0%, 27%);
$button-text      : hsl(0, 0%, 100%);
$email-remark     : hsl(168, 55%, 60%);

$border-gray: 1px solid hsl(0, 0%, 93%);

$mobile-width : 780px;
$tablet-width : 781px;
$desktop-width: 1200px;