// colors
//--------------------------------------------------------------
$base-text        : hsl(0, 0%, 0%);
$base-text-hover  : hsla(0, 0%, 0%, .6);
$base-text-active : hsla(0, 0%, 0%, .3);
$base-background  : hsl(0, 0%, 100%);
$second-background: hsl(0, 0%, 95%);
$base-line        : hsl(0, 0%, 0%);
$link-hover       : hsl(0, 0%, 56%);
$lite-item        : hsl(168, 55%, 60%);
$lite-item-hover  : hsl(168, 60%, 59%);
$dark-item        : hsl(171, 48%, 55%);
$dark-item-hover  : hsl(171, 50%, 52%);
$icon-product     : hsl(172, 76%, 32%);
$text-item        : hsl(0, 0%, 100%);
$text-remark      : hsl(168, 54%, 60%);
$button-hover     : hsl(0, 0%, 27%);
$button-text-hover: hsl(0, 0%, 100%);
$button-background: hsl(0, 0%, 100%);
$email-remark     : hsl(168, 55%, 60%);
$form-active      : hsl(0, 0%, 80%);
$text-placeholder : hsl(0, 0%, 84%);
$gray-line        : hsl(0, 0%, 93%);
$shadow-color     : hsla(0, 0%, 0%, .1);
$modal-shadow     : hsla(0, 0%, 0%, .25);

// styles
//--------------------------------------------------------------
$font-family          : "Open Sans", "Arial", sans-serif;
$font-size            : 15px;
$line-height          : 30px;
$font-title           : 25px;
$lheight-title        : 29px;
// tablet font size-----------------------------------------
$font-size-tablet     : 17px;
$font-title-tablet    : 43px;
$lheight-title-tablet : 50px;
// desktop font size----------------------------------------
$font-title-desktop   : 53px;
$lheight-title-desktop: 57px;

// sizes and indents----------------------------------------
$indent-mobile        : 9.3%;
$body-mobile          : 81.4%;
// for tablet-----------------------------------------------
$indent-tablet        : 6.5%;
$indent-tablet-view   : 6.5vw; 
$body-tablet          : 87%;
// for desktop----------------------------------------------
$indent-desktop       : 100px;
$half-indent          : 50px;
$row-desktop          : 175px;
$body-desktop         : 1150px;
$small-body-desktop   : 1050px;
$center-wrapper       : 700px;

$border-line          : 1px solid $gray-line;

// device sizes
//--------------------------------------------------------------
$mobile-width : 767px;
$tablet-width : 768px;
$desktop-width: 1150px;

$retina-dpi   : 144dpi;
$retina-dppx  : 1.5dppx;
