.comments {
  margin-top   : 63px-8;
  padding      : 0 9% 45px;
}

.comments__title {
  font-family: "Open Sans Bold", sans-serif;
  font-size  : 25px;
  line-height: 30px;
}

.comments__slider {
  margin    : 0;
  padding   : 0;

  list-style: none;
}

.comments__item {
  display: none;
}

.comments__item-show {
  display: block;
}

.comments__text {
  margin     : 24px 0;

  font-size  : 15px;
  line-height: 30px;
}

.comments__author {
  margin-top : 40px-6-5;
  
  display    : block;
  
  font-family: "Open Sans Bold", sans-serif;
  font-size  : 17px;
  line-height: 20px;
}

.comments__login {
  margin   : 8px 0 13px;
  
  display  : block;
  
  font-size: 17px;
}

.comments__control {
  margin        : 36px-3 0 38px;
  
  display       : flex;
  flex-direction: row;
}

.comments__button {
  padding   : 23px 0;

  box-sizing: border-box;
  width     : 50%;

  border    : $border-gray;
  background: transparent;

  &:hover .comments__arrow {
    opacity: .6;
  }

  &:active .comments__arrow {
    opacity: .3;
  }
}

.comments__arrow {
  margin    : 0 auto;

  position  : relative;
  width     : 48px;
  height    : 4px;

  background: hsl(0, 0%, 0%);

  &::before,
  &::after {
    content   : "";

    position  : absolute;
    top       : 6px;
    left      : -4px;
    width     : 20px;
    height    : 4px;

    transform : rotate(45deg);

    background: hsl(0, 0%, 0%);
  }

  &:after {
    top: -5px;

    transform: rotate(-45deg);
  }
}

.comments__button--next {
  transform   : rotate(180deg);

  border-right: none;
}

.comments__button-write {
  display        : block;

  text-decoration: none;

  color          : $base-text;
}
