.comments {
  padding: 0 $indent-mobile 45px+6;
}

.comments__title {
  margin-top: 54px+2;
}

.comments__slider {
  @include reset;

  list-style: none;
}

.comments__item {
  display: none;
}

.comments__item-show {
  display: block;
}

.comments__text {
  margin     : 24px 0;
}

.comments__author {
  @include font-b(17px, 20px);

  margin-top : 40px-6-6;

  display    : block;

  font-weight: bold;
  line-height: 20px;
}

.comments__login {
  @include font(17px, 20px);
  
  margin   : 8px+2 0 13px;

  display  : block;
}

.comments__control {
  margin        : 36px-2 0 38px;

  display       : flex;
  flex-direction: row;
}

.comments__button {
  padding   : 23px 0;

  box-sizing: border-box;
  width     : 50%;

  border    : $border-line;
  background: transparent;

  &:hover .comments__arrow {
    opacity: .6;
  }

  &:active .comments__arrow {
    opacity: .3;
  }
}

.comments__arrow {
  margin    : 0 auto;

  position  : relative;
  width     : 48px;
  height    : 4px;

  background: $base-line;

  &::before,
  &::after {
    content   : "";

    position  : absolute;
    top       : 6px;
    left      : -4px;
    width     : 20px;
    height    : 4px;

    transform : rotate(45deg);

    background: $base-line;
  }

  &:after {
    top: -5px;

    transform: rotate(-45deg);
  }
}

.comments__button--next .comments__arrow {
  transform   : translateX(-3px) rotate(180deg);

  border-right: none;
}

// For Tablet
// --------------------------------------------------
@media (min-width: $tablet-width) {
  .comments {
    padding   : 77px $indent-tablet 126px-4;

    position  : relative;

    background: url(../img/comments_background.jpg) top left no-repeat;
  }

  .comments__title {
    margin: 0 0 70px-21 (-5px);
  }

  .comments__text {
    min-height: 153px;
  }

  .comments__author {
    @include font(18px, 24px);

    margin-top: 24px;
  }

  .comments__login {
    margin-top: 9px;
  }

  .comments__button-write {
    padding-top: 14px;

    position   : absolute;
    top        : 79px;
    right      : $indent-tablet;
    width      : 175px;
    height     : 52px;
  }

  .comments__control {
    position: absolute;
    right   : $indent-tablet;
    bottom  : 96px-1;
    width   : 173px;
    height  : 52px;
  }

  .comments__button {
    border: none;
  }
}
