.comments {
  margin-top   : 63px-8;
  padding      : 0 $indent-mobile 45px;
}

.comments__title {
  @include font-b(25px, 30px);
}

.comments__slider {
  @include reset;

  list-style: none;
}

.comments__item {
  display: none;
}

.comments__item-show {
  display: block;
}

.comments__text {
  @include font(15px, 30px);

  margin     : 24px 0;
}

.comments__author {
  margin-top : 40px-6-6;
  
  display    : block;
  
  font-weight: bold;
  line-height: 20px;
}

.comments__login {
  margin   : 8px 0 13px;
  
  display  : block;
}

.comments__control {
  margin        : 36px-2 0 38px;
  
  display       : flex;
  flex-direction: row;
}

.comments__button {
  padding   : 23px 0;

  box-sizing: border-box;
  width     : 50%;

  border    : $border-line;
  background: transparent;

  &:hover .comments__arrow {
    opacity: .6;
  }

  &:active .comments__arrow {
    opacity: .3;
  }
}

.comments__arrow {
  margin    : 0 auto;

  position  : relative;
  width     : 48px;
  height    : 4px;

  background: $base-line;

  &::before,
  &::after {
    content   : "";

    position  : absolute;
    top       : 6px;
    left      : -4px;
    width     : 20px;
    height    : 4px;

    transform : rotate(45deg);

    background: $base-line;
  }

  &:after {
    top: -5px;

    transform: rotate(-45deg);
  }
}

.comments__button--next {
  transform   : translateX(-3px) rotate(180deg);

  border-right: none;
}
