.contacts {
  padding: 0 30px;
}

.contacts__title {
  margin     : 44px-9 0 43px-18;
  font-family: "Open Sans Bold", sans-serif;
  font-size  : 18px;
  line-height: 31px;
}

.contacts__list {
  padding        : 0;
  border-collapse: collapse;
  font-size      : 15px;
  line-height    : 30px;
  width          : 100%;

  & td {
    padding: 0;
  }
}

.contacts__line {
  display: flex;
  flex-direction: row;
  padding-bottom: 40px-10;
}

.contacts__name {
  width: 30%;
}

.contacts__info {
  width: 70%;
}

.contacts__email-link {
  position       : relative;
  text-decoration: none;
  color          : $base-text;

  &:hover {
    color: $email-remark;
  }

  &:active {
    opacity: .3;
  }
}

.contacts__email-link::after {
  position  : absolute;
  content   : "";
  bottom    : -5px;
  left      : 0;
  right     : 0;
  height    : 1px;
  background: $email-remark;
}

.contacts__wrapper-map {
  margin  : 7px 0 39px -30px;
  width   : 100vw;
  height  : 457px;
  overflow: hidden;
}

.contacts__map {
  width : 100vw;
  height: 457px;
}

.contacts__button-write {
  display        : block;
  color          : $base-text;
  text-decoration: none;
}