.contacts {
  padding: 0 30px;
}

.contacts__title {
  margin     : 44px-9 0 43px-18;

  font-family: "Open Sans Bold", sans-serif;
  font-size  : 18px;
  line-height: 31px;
}

.contacts__list {
  padding        : 0;

  width          : 100%;

  border-collapse: collapse;

  font-size      : 15px;
  line-height    : 30px;

  & td {
    padding: 0;
  }
}

.contacts__line {
  padding-bottom: 40px-10;
  
  display       : flex;
  flex-direction: row;
}

.contacts__name {
  width: 30%;
}

.contacts__info {
  width: 70%;
}

.contacts__email-link {
  position       : relative;

  text-decoration: none;

  color          : $base-text;

  &:hover {
    color: $email-remark;
  }

  &:active {
    opacity: .3;
  }
}

.contacts__email-link::after {
  content   : "";

  position  : absolute;
  right     : 0;
  bottom    : -5px;
  left      : 0;
  height    : 1px;

  background: $email-remark;
}

.contacts__wrapper-map {
  margin  : 7px 0 39px -30px;

  overflow: hidden;

  width   : 100vw;
  height  : 457px;
}

.contacts__map {
  width : 100vw;
  height: 457px;
}

.contacts__button-write {
  margin-bottom  : 39px;

  display        : block;

  text-decoration: none;

  color          : $base-text;
}
