.contacts__wrapper {
  margin  : 0 auto;

  width   : $body-mobile;
}

.contacts__list {
  padding        : 0;

  width          : 100%;

  border-spacing : 0;
  border-collapse: collapse;

  & td {
    padding: 0;
  }
}

.contacts__line {
  padding-bottom: 40px-10;

  display       : flex;
  flex-direction: row;
}

.contacts__name {
  width: 29.6%;
}

.contacts__info {
  width: 70.4%;
}

.contacts__email-link {
  position       : relative;

  text-decoration: none;

  color          : $base-text;

  &::after {
    content   : "";

    position  : absolute;
    right     : 0;
    bottom    : -5px;
    left      : 0;
    height    : 1px;

    background: $email-remark;
  }

  &:hover {
    color: $email-remark;
  }

  &:active {
    opacity: .3;
  }
}

.contacts__wrapper-map {
  margin         : 7px 0 39px;

  display        : flex;
  overflow       : hidden;

  position       : relative;
  height         : 457px;

  justify-content: center;
}

.contacts__map {
  position: absolute;
  top     : 0;
  left    : 0;
  width   : 100%;
  height  : 457px;

  border  : none;
  z-index : 5;
}

.contacts__map-img {
  width      : auto;
  height     : auto;
}

.contacts__button-write {
  margin: 39px auto;

  width : $body-mobile;
}

@media (max-width: $mobile-width) {
  .contacts__title {
    @include font-b(18px, 31px);

    margin: 44px-9 0 43px-18 (-2px);
  }

  .contacts__title-flag {
    display: none;
  }
}

// For Tablet
// --------------------------------------------------
@media (min-width: $tablet-width) {
  .contacts {
    text-align: center;
  }

  .contacts__wrapper {
    width: $body-tablet;
  }

  .contacts__title {
    margin         : 46px 3px 33px -4px;

    display        : flex;

    justify-content: space-between;
    align-items    : center;
  }

  .contacts__list tbody {
    display   : flex;

    text-align: left;
  }

  .contacts__line {
    width: 50%;
  }

  .contacts__name {
    width: 23%;
  }

  .contacts__email-link::after {
    bottom: -4px;
  }

  .contacts__wrapper-map {
    margin: 26px 0 55px;
  }

  .contacts__button-write {
    margin : 0 auto 57px;
    padding: 14px 40px;

    display: inline-block;

    width  : auto;
  }
}

// For Desktop
// --------------------------------------------------
@media (min-width: $desktop-width) {
  .contacts {
    margin         : 71px auto 105px;

    display        : flex;

    position       : relative;
    width          : $small-body-desktop;

    justify-content: flex-end;
  }

  .contacts__wrapper {
    margin-right: $half-indent;

    width       : 300px;
  }

  .contacts__title {
    margin-top   : 82px-12;
    margin-bottom: 61px-12;
  }

  .contacts__title-flag {
    position: absolute;
    top     : 62px;
    left    : 63px;
  }

  .contacts__list tbody {
    display       : flex;
    flex-direction: column;

    text-align    : left;
  }

  .contacts__line {
    width: 100%;
  }

  .contacts__name {
    width: 77px;
  }

  .contacts__info {
    width: 223px;
  }

  .contacts__wrapper-map {
    margin : 0;
    padding: 0;

    width  : 525px;
  }

  .contacts__button-write {
    margin  : 0;

    position: absolute;
    bottom  : 0;
    left    : $row-desktop;
  }
}
