.form-order {
  margin: 0 auto;

  width : $body-mobile;
}

.form-order__set {
  @include reset;

  border : none;
}

.form-order__wrapper {
  margin : 0 0 41px;
}

.form-order__list {
  @include reset;

  list-style: none;
}

.form-order__legend {
  @include font-b(17px, 21px);

  margin        : 0 0 30px;

  display       : flex;

  font-weight   : bold;

  text-transform: uppercase;

  color         : $text-remark;

  // line
  // --------------------------------------------------
  &:after {
    margin    : 11px 1px 11px 30px;
    content   : "";

    width     : 65%;
    height    : 1px;

    background: $text-remark;

    flex-grow : 1;
  }
}

.form-order__type,
.form-order__color {
  @include font-b(17px, 18px);

  margin-bottom: 30px-6;
  padding-left : 63px;

  display      : block;

  position     : relative;

  cursor       : pointer;
}

.form-order__item--color {
  margin: 32px 0 43px;
}

// radio
// --------------------------------------------------
.form-order__radio {
  position     : absolute;
  top          : -7px-1;
  left         : 1px;
  width        : 38px-4;
  height       : 38px-4;

  border       : 2px solid $base-line;
  border-radius: 19px;
}

// radio checked
// --------------------------------------------------
.form-order__input-radio:checked + .form-order__radio::after {
  content      : "";

  position     : absolute;
  top          : 9px;
  left         : 9px;
  width        : 16px;
  height       : 16px;

  border-radius: 8px;
  background   : $text-remark;
}

.form-order__color {
  margin: 32px 0 49px-6;
}

// checkbox
// --------------------------------------------------
.form-order__checkbox {
  position    : absolute;
  top         : -11px;
  left        : 1px;
  width       : 40px-4;
  height      : 40px-5;

  border      : 2px solid $base-line;
}

// checked
// --------------------------------------------------
.form-order__input-check:checked + .form-order__checkbox::before,
.form-order__input-check:checked + .form-order__checkbox::after {
  content      : "";

  position     : absolute;
  top          : 21px;
  left         : 6px;
  width        : 10px;
  height       : 2.5px;

  border-radius: 2px;
  background   : $base-line;
}

.form-order__input-check:checked + .form-order__checkbox::before {
  transform: rotate(45deg);
}

.form-order__input-check:checked + .form-order__checkbox::after {
  top      : 16px;
  left     : 10px;
  width    : 22px;

  transform: rotate(-45deg);
}

// radio & checkbox states
// --------------------------------------------------
.form-order__type:hover .form-order__radio,
.form-order__color:hover .form-order__checkbox {
  border-color: $text-remark;
}

.form-order__type:hover,
.form-order__color:hover {
  color: $text-remark;
}

.form-order__type:active .form-order__radio,
.form-order__color:active .form-order__checkbox {
  border-color: $form-active;
}

.form-order__input-radio:focus + .form-order__radio,
.form-order__input-check:focus + .form-order__checkbox {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
// --------------------------------------------------

.form-order__item:last-child .form-order__color {
  margin-bottom: 24px;
}

.form-order__wrapper--name {
  margin: -4px 0 -12px+4;
}

.form-order__legend--name {
  margin-bottom: 19px;
}

.form-order__name {
  @include font-b(17px, 18px);
}

.form-order__block--icon {
  position: relative;
}

.form-order__field {
  @include font(17px, 18px);

  margin-bottom   : 16px;
  padding         : 11px 0 15px;

  display         : block;

  width           : 100%;

  font-family     : $font-family;

  border          : none;
  border-bottom   : 2px solid $base-line;
  background-color: transparent;
  z-index         : 2;

  &::placeholder {
    @include font(17px, 18px);

    font-family: $font-family;

    color      : $text-placeholder;
  }

  &:hover {
    cursor      : pointer;

    border-color: $text-remark;
    outline     : none;
  }

  &:hover + .form-order__icon {
    fill: $text-remark;
  }
}

.form-order__wrapper--contacts {
  margin-bottom: 15px;
}

.form-order__legend--phone,
.form-order__legend--email {
  margin  : 20px 0 16px;
}

.form-order__field--phone,
.form-order__field--email {
  margin-bottom: 29px;
  padding      : 4px 0 15px;

  &::placeholder {
    padding-right: 33px;
  }
}

.form-order__icon {
  position: absolute;
  top     : 37px;
  right   : 4px;

  fill    : $form-active ;
}

.form-order__icon--phone {
  right: 7px;
}

.form-order__legend--textarea {
  margin: 20px 0 21px;
}

.form-order__textarea {
  @include font(17px, 19px);

  padding    : 13px 16px 30px;

  display    : block;

  box-sizing : border-box;
  width      : 100%;

  font-family: $font-family;

  resize     : none;

  border     : 2px solid $base-line;

  &::placeholder {
    @include font(17px, 19px);

    font-family: $font-family;

    color      : $text-placeholder;
  }
}

.form-order__remark {
  @include font(14px, 16px)

  margin     : 19px-3 0 34px-3;
}

.form-order__submit {
  @include font-b(17px, 21px);

  margin-bottom : 56px-1;
  padding-bottom: 14px;

  font-family   : $font-family;

  cursor        : pointer;
}

// For Tablet
// --------------------------------------------------
@media (min-width: $tablet-width) {
  .form-order {
    margin  : 0;

    width   : 100%;
  }

  .form-order__set:nth-child(even) {
    background: $second-background;
  }

  .form-order__wrapper {
    margin     : 0 auto;
    padding    : 24px 0 39px;

    display    : flex;

    width      : $body-tablet;

    align-items: flex-start;
  }

  .form-order__legend {
    padding-top: 28px;

    width      : 25%;

    &::after {
      display: none;
    }
  }

  .form-order__list,
  .form-order__textarea {
    width: 75%;
  }

  .form-order__type,
  .form-order__color {
    @include font(19px, 18px);

    margin     : 0;
    padding    : 29px 0 29px 80px;

    display    : flex;

    align-items: center;
  }

  .form-order__radio {
    top          : 14px;
    left         : 0;
    width        : 48px;
    height       : 48px;

    border-radius: 25px;
  }

  .form-order__input-radio:checked + .form-order__radio::after {
    top          : 13.4px;
    left         : 13.6px;
    width        : 21px;
    height       : 21px;

    border-radius: 12px;
  }

  .form-order__wrapper--color {
    padding: 37px 0 16px;
  }

  .form-order__list--color {
    display        : flex;

    flex-flow      : row wrap;
    justify-content: space-between;
  }

  .form-order__item--color {
    margin: 0;

    width : 47.7%;
  }

  .form-order__checkbox {
    top   : 14px;
    left  : 0;
    width : 50px;
    height: 48px;
  }

  .form-order__input-check:checked + .form-order__checkbox::before,
  .form-order__input-check:checked + .form-order__checkbox::after {
    top  : 28px;
    left : 8px;
    width: 15px;
  }

  .form-order__input-check:checked + .form-order__checkbox::after {
    top  : 24px;
    left : 15px;
    width: 30px;
  }

  .form-order__wrapper--name {
    padding: 44px 0 32px;
  }

  .form-order__legend--name {
    margin-top: -8px;
  }

  .form-order__block {
    display    : flex;

    align-items: baseline;
  }

  .form-order__name {
    @include font-b(19px, 31px);

    margin-right: 25px;
  }

  .form-order__field {
    margin-bottom: 18px;
    padding      : 17px 0 13px 17px;

    font-size    : 19px;

    &::placeholder {
      font-size: 19px;
    }
  }

  .form-order__wrapper--contacts {
    padding-bottom: 32px;
  }

  .form-order__list--contacts {
    width: 100%;
  }

  .form-order__block--icon {
    display: flex;

    width  : 100%;
  }

  .form-order__legend--phone,
  .form-order__legend--email {
    padding: 0;

    width  : 25%;
  }

  .form-order__field--phone,
  .form-order__field--email {
    margin-left: 5px;

    width      : 75%;
  }

  .form-order__icon--phone {
    top  : 37px;
    right: 25px;
  }

  .form-order__icon--email {
    top  : 17px;
    right: 22px;
  }

  .form-order__field--phone {
    margin-top   : 20px;
    margin-bottom: 18px;
  }

  .form-order__textarea {
    width      : 75%;
  }

  .form-order__block--textarea {
    width: 100%;
  }

  .form-order__legend--textarea {
    margin-top: 12px;
  }

  .form-order__textarea {
    @include font(19px, 26px);

    padding: 7px 16px 1px;

    &::placeholder {
      @include font(19px, 30px);
    }
  }

  .form-order__end {
    margin         : 13px auto 49px;

    display        : flex;
    flex-direction : row-reverse;

    width          : $body-tablet;

    justify-content: space-between;
    align-items    : baseline;
  }

  .form-order__remark {
    @include font(17px, 30px);

    margin   : 0;

    transform: translateY(-2px);
  }

  .form-order__submit {
    margin: 0;

    width : 34.4%;
  }
}

// For Desktop
// --------------------------------------------------
@media (min-width: $desktop-width) {
  .form-order__wrapper {
    width: $small-body-desktop;
  }

  .form-order__legend {
    padding-left: 62px;

    width       : auto;

    flex-grow   : 1;
  }

  .form-order__list {
    width: 875px;
  }

  .form-order__wrapper--color {
    padding-top: 36px;
  }

  .form-order__item--color {
    width: 262px;

    &:nth-child(3n+2) {
      width: 264px;
    }
  }

  .form-order__list--color {
    justify-content: flex-start;
  }

  .form-order__name {
    margin-left: 2px;
  }

  .form-order__block {
    margin-right: $row-desktop;

    width       : $center-wrapper;
  }

  .form-order__block--icon {
    width: 875px;
  }

  .form-order__field,
  .form-order__textarea {
    box-sizing: border-box;
    width     : $center-wrapper;
  }

  .form-order__icon {
    right: 7px;
  }

  .form-order__icon--email {
    right: 4px;
  }

  .form-order__block--textarea {
    width: 100%;
  }

  .form-order__end {
    margin: 10px 0 50px;

    width : $center-wrapper;
  }

  .form-order__remark {
    transform: translate(1px, -1px);
  }

  .form-order__submit {
    padding: 13px 31px 14px;

    width  : auto;
  }
}
