.form-order {
  padding: 0 $indent-mobile;
}

.form-order__set {
  margin : 0 0 45px-28;
  padding: 0;

  border : none;

  & ul {
    @include reset;

    list-style: none;
  }
}

.form-order__legend {
  @include font-b(17px, 21px);

  margin        : 0 0 30px;

  display       : flex;

  font-weight   : bold;

  text-transform: uppercase;

  color         : $text-remark;

  &:after {
    margin    : 11px 1px 11px 30px;
    content   : "";

    width     : 65%;
    height    : 1px;

    background: $text-remark;

    flex-grow : 1;
  }
}

.form-order__type,
.form-order__color {
  margin-bottom: 30px-6;
  padding-left : 63px;

  display      : block;

  position     : relative;

  font-weight  : bold;
  line-height  : 18px;

  cursor       : pointer;
}

// radio
// ------------------------------------------------------------------
.form-order__type:hover .form-order__radio,
.form-order__radio {
  position     : absolute;
  top          : -7px-1;
  left         : 2px;
  width        : 38px-4;
  height       : 38px-4;

  border       : 2px solid $base-line;
  border-radius: 19px;
}

// radio checked
// ------------------------------------------------------------------
.form-order__input-radio:checked + .form-order__radio::after {
  content      : "";

  position     : absolute;
  top          : 9px;
  left         : 9px;
  width        : 16px;
  height       : 16px;

  border-radius: 8px;
  background   : $text-remark;
}

.form-order__color {
  margin-bottom: 49px-6;

  &:first-child {
    margin-top: 32px;
  }
}

// checkbox
// ------------------------------------------------------------------
.form-order__checkbox {
  position    : absolute;
  top         : -11px;
  left        : 1px;
  width       : 40px-4;
  height      : 40px-5;

  border      : 2px solid $base-line;
}

// checked
// ------------------------------------------------------------------
.form-order__input-check:checked + .form-order__checkbox::before,
.form-order__input-check:checked + .form-order__checkbox::after {
  content      : "";

  position     : absolute;
  top          : 21px;
  left         : 6px;
  width        : 10px;
  height       : 2.5px;

  border-radius: 2px;
  background   : $base-line;
}

.form-order__input-check:checked + .form-order__checkbox::before {
  transform: rotate(45deg);
}

.form-order__input-check:checked + .form-order__checkbox::after {
  top      : 16px;
  left     : 10px;
  width    : 22px;

  transform: rotate(-45deg);
}

// radio & checkbox states
// ------------------------------------------------------------------
.form-order__type:hover .form-order__radio,
.form-order__color:hover .form-order__checkbox {
  border-color: $text-remark;
}

.form-order__type:hover,
.form-order__color:hover {
  color: $text-remark;
}

.form-order__type:active .form-order__radio,
.form-order__color:active .form-order__checkbox {
  border-color: $form-active;
}

.form-order__input-radio:focus + .form-order__radio,
.form-order__input-check:focus + .form-order__checkbox {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
// ------------------------------------------------------------------

.form-order__item:last-child .form-order__color {
  margin-bottom: 24px;
}

.form-order__set--name {
  margin: -2px 0 -12px;

  & .form-order__legend {
    margin-bottom: 23px;
  }
}

.form-order__name {
  font-weight: bold;
}

.form-order__block--icon {
  position: relative;
}

.form-order__field {
  @include font(17px, 21px);

  margin-bottom   : 20px;
  padding         : 13px 0 15px;

  display         : block;

  width           : 100%;

  font-family     : $font-family;

  border          : none;
  border-bottom   : 2px solid $base-line;
  background-color: transparent;

  &::placeholder {
    @include font(17px, 21px);

    font-family: $font-family;

    color      : $text-placeholder;
  }

  &:hover {
    cursor      : pointer;

    border-color: $text-remark;
    outline     : none;
  }

  &:hover + .form-order__icon {
    fill: $text-remark;
  }
}

.form-order__set--contact {
  margin-bottom: 15px;
}

.form-order__legend--phone,
.form-order__legend--email {
  margin  : 20px 0 13px;

  // &::after {
  //   width    : 65%;
  //   min-width: 170px;
  // }
}

.form-order__field--phone,
.form-order__field--email {
  margin-bottom: 29px;
  padding      : 4px 0 15px;

  &::placeholder {
    padding-right: 33px;
  }
}

.form-order__icon {
  position: absolute;
  top     : 37px;
  right   : 4px;

  fill    : $form-active ;
  z-index : -1;
}

.form-order__icon--phone {
  right: 7px;
}

.form-order__legend--textarea {
  margin: 20px 0 21px;
}

.form-order__textarea {
  @include font(17px, 19px);

  padding    : 13px 16px 30px;

  display    : block;

  box-sizing : border-box;
  width      : 100%;

  font-family: $font-family;

  resize     : none;

  border     : 2px solid $base-line;

  &::placeholder {
    @include font(17px, 19px);

    font-family: $font-family;

    color      : $text-placeholder;
  }
}

.form-order__remark {
  @include font(14px, 16px)

  margin     : 19px-3 0 34px-3;
}

.form-order__submit {
  @include font-b(17px, 21px);

  margin-bottom: 56px;

  font-family  : $font-family;

  cursor       : pointer;
}
