.main-nav__button-toggle {
  display: none;
}

.main-nav__list {
  @include font-b(17px, 21px)
  @include reset;

  list-style: none;
}

.main-nav__item {
  border-bottom  : $border-line;
}

.main-nav__link {
  padding         : 32px-5 30px 30px 23.5%;

  display         : block;

  text-decoration : none;

  color           : $base-text;
  background-color: transparent;

  &[href]:hover {
    color: $base-text-hover;
  }
  &[href]:active {
    opacity: .3;
  }
}

// Mobile Only
// --------------------------------------------------
@media (max-width: $mobile-width) {
  .main-nav__item {
    display: none;
  }

  .main-nav__button-toggle {
    display   : block;

    position  : absolute;
    top       : 1px;
    right     : 0;
    width     : 80px-2;
    height    : 80px-2;

    cursor    : pointer;

    border    : none;
    background: $base-background;
    z-index   : 2;
  }

  .main-nav--closed .main-nav__button-toggle::before {
    content         : "";

    position        : absolute;
    top             : 33px-2;
    right           : 30px+1;
    width           : 20px;
    height          : 2px;

    background-color: $base-line;
    box-shadow      : 0 6px 0 0 $base-line, 0 12px 0 0 $base-line;
  }

  .main-nav--opened .main-nav__button-toggle::before,
  .main-nav--opened .main-nav__button-toggle::after {
    content         : "";

    position        : absolute;
    top             : 33px-1+5;
    right           : 30px-1-2;
    width           : 27px;
    height          : 2px;

    transform       : rotate(45deg);

    background-color: $base-line;
  }

  .main-nav--opened .main-nav__button-toggle::after {
    transform: rotate(-45deg);
  }

  .main-nav--opened .main-nav__item {
    display: block;
  }

  .main-nav--no-js {
    & .main-nav__item {
      display: block;
    }
    & .main-nav__button-toggle {
      display: none;
    }
  }

  .main-nav__logo {
    display   : block;

    border-top: $border-line;
  }
}
// --------------------------------------------------

.main-nav__link--logo {
  padding   : 22px-1 0 22px-4 0;

  text-align: center;

  &:hover {
    opacity: .6;
  }
}

.main-nav__link--search,
.main-nav__link--cart {
  position: relative;
}

.main-nav__icon {
  position: absolute;
  top     : 30px;
  left    : 9.8%;

  opacity : .2;
}

.main-nav__icon--search {
  transform: translateY(1px);
}

.main-nav__link--search:hover .main-nav__icon--search,
.main-nav__link--cart:hover .main-nav__icon--cart {
  opacity: 1;
  fill   : $text-remark;
}

.main-nav__link--search:active .main-nav__icon--search,
.main-nav__link--cart:active .main-nav__icon--cart {
  opacity: 1;
  fill   : $text-remark;
}

.main-nav-item--delivery,
.main-nav__new,
.main-nav__sell-out {
  display: none;
}

// For Tablet
// --------------------------------------------------
@media (min-width: $tablet-width) {
  .main-nav__list {
    @include font(15px, 24px);

    display      : flex;

    flex-wrap    : wrap;
    align-content: space-between;
    align-items  : stretch;
  }

  .main-nav__link {
    padding: 24px-7 15px 24px-7 8.8%;
  }

  .main-nav__catalog {
    order: 4;
  }

  .main-nav__order {
    order: 5;
  }

  .main-nav__logo {
    min-width: 41%;

    flex-grow: 1;
  }

  .main-nav__link--logo {
    padding   : 22px 0 20px-6 $indent-tablet-view;

    text-align: left;
  }

  .main-nav__link--logo img {
    width    : 113px;
    height   : 46px;

    transform: translateX(-2px);
  }

  .main-nav__link--search {
    padding     : 32px 30px 26px 33px;

    font-size   : 0;

    border-right: $border-line;
    border-left : $border-line;
  }

  .main-nav__icon--search,
  .main-nav__icon--cart {
    position : static;

    transform: translateY(5px);
  }

  .main-nav__link--cart {
    padding   : 30px $indent-tablet-view 28px 39px;

    font-size : 17px;

    text-align: right;
  }

  .main-nav__icon--cart {
    margin-right: 20px;

    transform   : translate(-7px, 5px);
  }

  .main-nav__catalog,
  .main-nav__order {
    width    : 26%;
    min-width: 198px;

    border   : none;
  }

  .main-nav__link--catalog {
    padding-left: $indent-tablet-view;
  }

  .main-nav__item--delivery {
    margin-left: auto;

    display    : block;

    border     : none;

    order      : 7;
    flex-grow  : 1;
  }

  .main-nav__link--delivery {
    padding    : 24px-7 13.3%;

    font-weight: normal;

    text-align : right;
  }
}

// For Desktop
// --------------------------------------------------
@media (min-width: $desktop-width) {
  .main-nav__list {
    margin: 0 auto;

    width : $body-desktop;
  }

  .main-nav__link {
    padding   : 31px 0 33px 33px;
  }

  .main-nav__logo {
    margin-right: auto;

    min-width   : 150px;
  }

  .main-nav__link--logo {
    box-sizing: border-box;
    height    : 100%;

    & img {
      position : absolute;
      top      : 8px;
      left     : 50%;
      width    : 148px;
      height   : 73px;

      transform: translateX(-50%);
    }
  }

  .main-nav__catalog,
  .main-nav__order {
    width        : auto;
    min-width    : 234px;

    font-size    : 17px;

    border-bottom: $border-line;

    order        : -2;
  }

  .main-nav__catalog {
    border-right: $border-line;
  }

  .main-nav__order .main-nav__link {
    padding-left: 33px;
  }

  .main-nav__link--search {
    padding: 32px 32px 26px 31px;
  }

  .main-nav__cart {
    width: 316px;
  }

  .main-nav__link--cart {
    padding: 30px 50px 33px 33px;
  }

  .main-nav__new,
  .main-nav__sell-out {
    display  : block;

    min-width: 234px;

    border   : none;

    & .main-nav__link {
      padding: 24-7px 0 24-7px 33px;
    }
  }

  .main-nav__link--catalog,
  .main-nav__new .main-nav__link {
    padding-left: 50px;
  }

  .main-nav__item--delivery {
    flex-grow: 0;
  }

  .main-nav__link--delivery {
    padding: 24-7px 50px;
  }
}
