.main-nav__button-toggle {
  display: none;
}

.main-nav__list {
  margin     : 0;
  padding    : 0;

  list-style : none;

  font-family: "Open Sans Bold", sans-serif;
  font-size  : 17px;
  line-height: 21px;
}

.main-nav__link {
  padding        : 32px-5 30px 30px 23.5%;

  display        : none;

  text-decoration: none;

  color          : $base-text;
  border-bottom  : $border-gray;

  &[href]:hover {
    color: $link-hover;
  }
  &[href]:active {
    opacity: .3;
  }
}

@media (max-width: $mobile-width) {
  .main-nav__button-toggle {
    display   : block;

    position  : absolute;
    top       : 1px;
    right     : 0;
    width     : 80px-2;
    height    : 80px-2;

    cursor    : pointer;

    border    : none;
    background: $base-background;
    z-index   : 2;
  }

  .main-nav--closed .main-nav__button-toggle::before {
    content         : "";

    position        : absolute;
    top             : 33px-2;
    right           : 30px+1;
    width           : 20px;
    height          : 2px;

    background-color: hsl(0, 0%, 0%);
    box-shadow      : 0 6px 0 0 hsl(0, 0%, 0%), 0 12px 0 0 hsl(0, 0%, 0%);
  }

  .main-nav--opened .main-nav__button-toggle::before,
  .main-nav--opened .main-nav__button-toggle::after {
    content         : "";

    position        : absolute;
    top             : 33px-1+5;
    right           : 30px-1-2;
    width           : 27px;
    height          : 2px;

    background-color: hsl(0, 0%, 0%);
  }

  .main-nav--opened .main-nav__button-toggle::before {
    transform: rotate(45deg);
  }

  .main-nav--opened .main-nav__button-toggle::after {
    transform: rotate(-45deg);
  }

  .main-nav--opened .main-nav__link {
    display: block;
  }

  .main-nav--no-js {
    & .main-nav__link {
      display: block;
    }
    & .main-nav__button-toggle {
      display: none;
    }
  }
}

.main-nav__logo {
  padding         : 22px-1 0 22px 0;

  display         : block;

  border-top      : $border-gray;
  border-bottom   : $border-gray;
  background-color: $base-background;

  &[href]:hover {
    opacity: .6;
  }
  &[href]:active {
    opacity: .3;
  }
}

.main-nav__logo--mobile {
  margin : 0 auto;

  display: block;
}

.main-nav__link--search,
.main-nav__link--cart {
  padding-left: 0;
}

.main-nav__icon {
  display : inline-block;

  position: relative;
  width   : 23.8%;
}

.icon--search,
.icon--cart {
  position: absolute;
  top     : -14px;
  right   : 18px;

  opacity : .2;
}

.main-nav__link--search:hover .icon--search,
.main-nav__link--cart:hover .icon--cart {
  opacity: 1;

  fill   : $text-remark;
}

.main-nav__link--search:active .icon--search,
.main-nav__link--cart:active .icon--cart {
  opacity: 1;

  fill   : $text-remark;
}
