.making {
  margin         : 28px+2 auto 58px;

  width          : $body-mobile;

  text-decoration: none;

  color          : $base-text;
}

.making__title {
  @include font-b(17px, 24px);

  margin       : 0;
  padding      : 29px-6 13% 30px-5;
  
  display      : flex;
  
  align-items  : center;
  border       : $border-line;
  border-bottom: none;
}

.making__title-icon {
  margin-right: 28px-4;

  transform   : translateY(-1px);

  fill        : $text-remark;

  flex-shrink : 0;
}

.making__player {
  position: relative;
  width   : auto;
}

.making__image {
  width : 260px;
  height: 150px;
}

.making__play {
  position        : absolute;
  top             : 50%;
  left            : 50%;

  font-size       : 0;

  cursor          : pointer;
  transition      : .2s;
  transform       : translate(-50%, -50%);

  border          : none;
  background-color: transparent;
  z-index         : 2;

  &:hover {
    transition: .2s;
    transform : scale(1.2, 1.2) translate(-41%, -41%);
  }
  &:active {
    transition: .2s;
    transform : scale(.8, .8) translate(-64%, -64%);
    
    opacity   : .3;
  }
}

.making__description {
  border    : $border-line;
  border-top: none;
}

.making__text {
  @include font(13px, 24px)

  margin : 0 13% 29px-3;
  padding: 34px-8 0 0;

}

.making__button {
  margin: 0 13% 33px-2;

  width : auto;
}

// For Tablet
// --------------------------------------------------
@media (min-width: $tablet-width) {
  .making {
    margin        : 0 auto 63px;

    display       : flex;
    flex-direction: column;

    width         : $body-tablet;

    border        : none;
  }

  .making__title {
    margin    : 0;
    padding   : 34px 6% 3px;
    
    position  : relative;
    
    font-size : 20px;
    
    border-top: none;
    
    order     : 2;

    &::after {
      content   : "";

      position  : absolute;
      right     : 0;
      bottom    : -6px;
      left      : 0;
      height    : 6px;

      background: $base-background;
    }
  }

  .making__title-icon {
    margin-right: 32px;
  }

  .making__description {
    margin    : 0;
    padding   : 0 6% 45px;

    border    : $border-line;
    border-top: none;

    order     : 3;
  }

  .making__text {
    margin     : 0 0 35px;

    font-size  : 15px;
    line-height: 30px;
  }

  .making__image {
    width : 100%;
    height: auto;
  }

  .making__button {
    margin : 0;
    padding: 14px 0 14px;
  }

  .making {
    &:hover .making__title {
      box-shadow: 0 0 10px $shadow-color;
    }

    &:hover .making__description {
      box-shadow: 0 6px 10px $shadow-color;
    }

    &:active .making__title {
      box-shadow: 0 0 5px $shadow-color;
    }

    &:active .making__description {
      box-shadow: 0 3px 5px $shadow-color;
    }
  }
}

// For Desktop
// --------------------------------------------------    
@media (min-width: $desktop-width) {
  .making {
    margin: 5px auto 104px;
    position  : relative;
    width     : $small-body-desktop;
  }

  .making__player {
    position: absolute;
    width   : 682px;
    height  : 455px;
    top     : 0;
    left    : 0;
  }

  .making__title,
  .making__description {
    margin-left: 682px;
    padding    : 42px 57px 0 79px;
    width      : 367px;
    border    : none;
    border-right    : $border-line;
    box-sizing : border-box;
  }

  .making__title {
    display: flex;
    flex-direction: column;
    border-top: $border-line;
  }

  .making__title-icon {
    margin-right: auto;
    margin-bottom: 21px;
  }

  .making__description {
    padding-top: 7px;
    height     : 312px;
    border-bottom: $border-line;
  }
  
  .making__text {
    padding-bottom: 46px;
    margin: 0;
  }
}
