//modal window
.modal {
  display: none;

  width: 100%;
}

.modal--show {
  display: block;
}

.modal__overlay {
  position  : fixed;
  top       : 0;
  right     : 0;
  bottom    : 0;
  left      : 0;
  width     : 100vw;
  height    : 100vh;

  opacity   : .9;
  background: $base-background;
  z-index   : 4;
}

.modal__products {
  padding      : 0 9.4%;

  position     : fixed;
  top          : 50vh;
  box-sizing   : border-box;
  width        : 100%;

  transform    : translateY(-50%);

  border-top   : $border-line;
  border-bottom: $border-line;
  background   : $base-background;
  box-shadow   : 0 5px 10px $modal-shadow;
  z-index      : 5;
}

.modal__title {
  @include font-b(25px, 30px);

  margin        : 37px-7 0 30px-10;

  text-align    : center;
  text-transform: uppercase;
}

.modal__text {
  @include font(14px, 16px);

  margin-bottom: 30px;

  text-align   : center;
}

.modal__list {
  margin-bottom  : 30px;
  padding        : 0;

  display        : flex;
  flex-direction : row;

  list-style     : none;

  justify-content: space-between;
}

.modal__item {
  position  : relative;
  min-width : 30%;
  min-height: 52px;

  flex-grow : 1;

  &:nth-child(2) {
    margin: 0 10px;
  }
}

.modal__size {
  @include font-b(17px, 16px);

  padding       : 16px 0;

  position      : absolute;
  top           : 0;
  left          : 0;
  box-sizing    : border-box;
  width         : 100%;

  text-align    : center;
  text-transform: uppercase;

  border        : 2px solid $gray-line;
  background    : transparent;

  &:hover {
    border-color: $form-active;
  }
}

//input type="radio
// --------------------------------------------------
.modal__radio:checked + .modal__size {
  color           : $base-text;
  border-color    : $text-remark;
  background-color: $base-background;
}

.modal__radio:focus + .modal__size {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
}
// --------------------------------------------------

.modal__submit {
  margin-bottom   : 46px+1;

  color           : $button-text-hover;
  border-color    : $text-remark;
  background-color: $text-remark;
}

// For Tablet
// --------------------------------------------------
@media (min-width: $tablet-width) {
  .modal__products {
    margin    : 0 auto;
    padding   : 0;
    
    left      : 50vw;
    width     : 73.7%;
    
    transform : translate(-50%, -50%);
    
    border    : $border-line;
    box-shadow: 0 5px 10px $modal-shadow;
  }
  
  .modal__form {
    margin: 0 auto;

    width : 62.5%;
  }

  .modal__title {
    @include font(30px, 57px);

    margin: 33px 0 13px;
  }

  .modal__text {
    @include font(17px, 30px);

    margin: 14px 0 21px;
  }

  .modal__list {
    margin-bottom: 31px;
  }

  .modal__submit {
    margin-bottom: 45px;
    padding      : 15px 0 13px;
  }
}

@media (min-width: $desktop-width) {
  .modal__products {
    padding: 33px 0 0;
    width  : 568px-2;
  }

  .modal__form {
    margin: 0 auto;

    width: 350px;
  }

  .modal__title {
    margin-top    : 0;
    letter-spacing: -0.2px;
  }
}
