.page-footer {
  padding   : 0 $indent-mobile;

  background: $second-background;
}

.page-footer__logo {
  display: none;
}

.page-footer__socials {
  margin         : 0;
  margin-left    : 8px;
  padding        : 16px 0 12px;

  display        : flex;
  flex-direction : row;

  list-style     : none;

  border-bottom  : $border-line;

  justify-content: center;
  align-items    : center;
}

.page-footer__social-item {
  margin: 0 10px;
}

.page-footer__social-link {
  padding: 10px;

  display: block;

  &:hover .page-footer__icon {
    fill: $text-remark;
  }

  &:active .page-footer__icon {
    opacity: .3;
  }
}

.page-footer__icon--instagram {
  margin-right: -1px;
  margin-left : -16px;
}

.page-footer__copyright {
  padding: 18px-5 0 24px;

  text-align: center;
}

.page-footer__copyright-link {
  @include font-b(19px, 30px);

  display        : flex;
  flex-direction : row;

  text-decoration: none;

  color          : $base-text;

  justify-content: center;
  align-items    : center;

  &:hover .page-footer__academy {
    fill: $dark-item-hover;
  }

  &:active {
    opacity: .3;
  }
}

.page-footer__academy {
  margin-top : 4px;
  margin-left: 30px;

  fill       : $text-remark;
}

// For Tablet
// --------------------------------------------------
@media (min-width: $tablet-width) {
  .page-footer {
    padding        : 0 $indent-tablet;

    display        : flex;

    justify-content: space-between;
    align-items    : center;
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer__logo,
  .page-footer__copyright {
    width: 30%;
  }

  .page-footer__socials {
    padding: 49px 0 37px;
  }

  .page-footer__copyright {
    padding-bottom: 13px;
  }

  .page-footer__copyright-link {
    justify-content: flex-end;
  }
}
