.page-header__slogan {
  padding   : 0 $indent-mobile;

  background: $second-background;
}

.page-header__title {
  margin    : 0;
  padding   : 78px-8 0 81px-5;
  
  display   : block;
  
  text-align: center;
}

.page-header__slogan--main {
  min-height: 282px;

  background: hsl(0, 0%, 98%) url(../img/mishka-slogan_mobile.jpg) top -18px center no-repeat;
}

.page-header__title--main {
  padding   : 75px-3-2 0 0;
}

// Mobile Only
// --------------------------------------------------
@media (max-width: $mobile-width) {
  .page-header__title {
    @include font-b(27px, 30px);
  }
}

// For Tablet
// --------------------------------------------------
@media (min-width: $tablet-width) {
  .page-header__slogan {
    margin-top: -58px;

    z-index   : -1;
  }

  .page-header__slogan--main {
    min-height: 626px+117;

    background: hsl(0, 0%, 98%) url(../img/mishka-slogan_tablet.jpg) top center no-repeat;
  }

  .page-header__title {
    padding: 93px 0 81px;
  }

  .page-header__title--main {
    padding: 170px-18 0 50px;
  }
}
