.page-main__appeal {
  @include font(13px, 24px);

  margin : 29px-7 auto 30px-9;
  padding: 0;

  width  : $body-mobile;

  color  : $base-text;
}

// For Tablet
// --------------------------------------------------
@media (min-width: $tablet-width) {
  .page-main__appeal {
    @include font(17px, 30px);

    margin        : 74px auto 19px;

    width         : $body-tablet;

    letter-spacing: 0;
  }
}

// For Desktop
// --------------------------------------------------
@media (min-width: $desktop-width) {
  .page-main__appeal {
    margin-top: 132px-10;

    width     : $center-wrapper;
  }
}
