.page-footer {
  padding   : 0 $indent-mobile;

  background: $second-background;
}

.page-footer__socials {
  margin         : 0;
  margin-left    : 8px;
  padding        : 16px 0 12px;

  display        : flex;
  flex-direction : row;

  list-style     : none;

  border-bottom  : $border-line;

  justify-content: center;
  align-items    : center;
}

.page-footer__social-item {
  margin: 0 10px;
}

.page-footer__social-link {
  padding: 10px;

  display: block;

  &:hover .page-footer__icon {
    fill: $text-remark;
  }

  &:active .page-footer__icon {
    opacity: .3;
  }
}

.page-footer__icon--instagram {
  margin-right: -1px;
  margin-left : -16px;
}

.page-footer__copyright {
  padding: 18px 0 24px;

  text-align: center;
}

.page-footer__copyright-link {
  @include font-b(19px, 30px);

  display        : flex;
  flex-direction : row;

  text-decoration: none;

  color          : $base-text;

  justify-content: center;
  align-items    : center;

  &:hover .page-footer__academy {
    fill: $dark-item-hover;
  }

  &:active {
    opacity: .3;
  }
}

.page-footer__academy {
  margin-top : 4px;
  margin-left: 30px;

  fill       : $text-remark;
}
