.product-card {
  margin        : 0;
  padding       : 0 $indent-mobile;

  flex-direction: column;

  list-style    : none;

  color         : $base-text;
}

.product-card__name {
  @include font-b(25px, 29px);

  margin-top   : 34px-6;
  margin-bottom: 0;
}

.product-card__remark {
  margin-top    : 14px-6-4;
  
  font-weight   : bold;
  letter-spacing: 0;
  
  text-transform: uppercase;
  
  color         : $text-remark;
}

.product-card__description {
  margin     : 34px-2-9 0 36px-10-8;

  font-size  : 15px;
  line-height: 24px;
}

.product-card__list {
  @include font(15px, 19px);

  margin-bottom  : 28px;
  padding        : 0;

  width          : 100%;

  border-collapse: collapse;

  & td {
    padding: 0;
  }
}

.product-card__line {
  padding       : 11px-1 0 11px-1;

  display       : flex;
  flex-direction: row;

  border-bottom : $border-line;
}

.product-card__name-property {
  width: 37.5%;
}

.product-card__property {
  width: 62.5%;
}

.product-card__photo {
  margin : 0 auto;

  width  : 260px;
}

.product-card__price {
  margin     : 28px-3 auto 28px;

  font-weight: bold;

  text-align : center;
}

.product-card__buy {
  padding    : 13px 0 15px;
}
